<?xml version="1.0"?>
<launch>
    
    <arg name="output" default="log" />

    <node name="victim_rgb_svm_training_node" type="victim_rgb_svm_training_node" pkg="pandora_vision_victim"  
      output="screen"/>

    <rosparam file="$(find pandora_vision_victim)/config/victim_topics.yaml" 
        command="load" ns="victim"/>

    <rosparam file="$(find pandora_vision_victim)/config/victim_params.yaml" 
        command="load" ns="victim"/>
            
    <!-- Url for model.xml /-->
    <param name="model_url" type="str" 
      value="https://pandora.ee.auth.gr/vision/model.xml"/>  

    <include file="$(find pandora_robots_description)/gears/launch/gears_description.launch" />

</launch>
