<?xml version="1.0"?>
<launch>

    <arg name="output" default="log" />

    <node name="pandora_victim" type="pandora_vision_victim_node" pkg="pandora_vision_victim"
      respawn="False" output="$(arg output)" >

      <rosparam file="$(find pandora_vision_victim)/config/victim_topics.yaml"
          command="load" />

      <rosparam file="$(find pandora_vision_victim)/config/victim_params.yaml"
          command="load" ns="detector"/>
    </node>
</launch>
