<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="logitech_c310hd"
               params="parent prefix_y *origin" >

    <!-- Links -->
    <link name="${prefix_y}_camera_link" >
      <xacro:solid_cuboid_inertial mass="0.099" x="0.049" y="0.095" z="0.073" >
        <origin xyz="0.00972 0.0 0.04428" />
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/webcam/meshes/logitech_c310hd.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.00557 0.0 0.03624"
                rpy="0 0 0" />
        <geometry>
          <box size="0.049 0.095 0.073" />
        </geometry>
      </collision>
    </link>

    <!-- Joints -->
    <joint name="${prefix_y}_camera_parent_joint"
           type="fixed" >
      <parent link="${parent}" />
      <child link="${prefix_y}_camera_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <!-- Frames -->
    <link name="${prefix_y}_camera_frame" >
      <xacro:point_mass_inertial />
    </link>

    <link name="${prefix_y}_camera_optical_frame" >
      <xacro:point_mass_inertial />
    </link>

    <joint name="${prefix_y}_camera_joint"
           type="fixed" >
      <parent link="${prefix_y}_camera_link" />
      <child link="${prefix_y}_camera_frame" />
      <origin xyz="0.02499 0.0 0.05704" 
              rpy="0.0 -0.2792 0.0" />
    </joint>

    <joint name="${prefix_y}_camera_optical_joint"
           type="fixed" >
      <parent link="${prefix_y}_camera_frame" />
      <child link="${prefix_y}_camera_optical_frame" />
      <origin xyz="0.0 0.0 0.0" 
              rpy="-1.5708 0.0 -1.5708" />
    </joint>

  </xacro:macro>

</robot>
