<launch>
  <node name="synchronizer_node" type="synchronizer_node" pkg="pandora_vision_hole_detector" respawn="False" output="screen" />
  <node name="depth_node"        type="depth_node"        pkg="pandora_vision_hole_detector" respawn="False" output="screen" />
  <node name="rgb_node"          type="rgb_node"    pkg="pandora_vision_hole_detector" respawn="False" output="screen" />
  <node name="hole_fusion_node"  type="hole_fusion_node"  pkg="pandora_vision_hole_detector" respawn="False" output="screen" />
</launch>
