<?xml version="1.0"?>

<launch>

  <arg name="control" default="false" />

  <group if="$(arg control)">
    <include file="$(find pandora_gazebo_controllers)/launch/pandora_gazebo_controllers.launch" />
  </group>

  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pandora_robots_description)/urdf/pioneer3at/pioneer3at.urdf.xacro' control:=$(arg control)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam command="load" file="$(find pandora_robots_description)/config/pioneer3at/joint_states.yaml" />
  </node>

</launch>
