<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >
  
<!-- Elements' Status ##################################################### -->
      
  <!-- Sensors ============================================================ -->
  <xacro:property name="enable_sensors" value="true" />
    <!-- ================================================================== -->
    <xacro:property name="enable_laser_sensor" value="true" />
    <!-- ================================================================== -->
    <xacro:property name="enable_kinect_sensor" value="true" />
    <!-- ================================================================== -->
    <xacro:property name="enable_sonar_sensors" value="true" />
      <xacro:property name="enable_left_sonar_sensor" value="true" />
      <xacro:property name="enable_right_sonar_sensor" value="true" />
    <!-- ================================================================== -->
    <xacro:property name="enable_thermal_sensors" value="true" />
      <xacro:property name="enable_middle_thermal_sensor" value="true" />
      <xacro:property name="enable_left_thermal_sensor" value="true" />
      <xacro:property name="enable_right_thermal_sensor" value="true" />
    <!-- ================================================================== -->
    <xacro:property name="enable_co2_sensor" value="true" />
    <!-- ================================================================== -->
    <xacro:property name="enable_microphone_sensor" value="true" />
  <!-- ==================================================================== -->

<!-- Joint Physics ######################################################## -->

  <!-- Joint Types ======================================================== -->
  <xacro:property name="side_joint_type" value="revolute" />
  <!-- ==================================================================== -->
  <xacro:property name="wheel_joint_type" value="continuous" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_elevator_joint_type" value="prismatic" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_pitch_joint_type" value="revolute" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_yaw_joint_type" value="revolute" />
  <!-- ==================================================================== -->
  
  <!-- Joint Damping ====================================================== -->
  <xacro:property name="side_joint_damping" value="0.0" />
  <!-- ==================================================================== -->
  <xacro:property name="wheel_joint_damping" value="0.0" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_elevator_joint_damping" value="5800.0" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_pitch_joint_damping" value="0.0" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_yaw_joint_damping" value="0.0" />
  <!-- ==================================================================== -->
  
  <!-- Joint Limits ======================================================= -->
  <xacro:property name="side_joint_min_limit" value="-0.785" /> <!--FIXME-->
  <xacro:property name="side_joint_max_limit" value="0.785" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="linear_elevator_joint_min_limit" value="0.0" />
  <xacro:property name="linear_elevator_joint_max_limit" value="0.18" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_pitch_joint_min_limit" value="-1.57" /> <!--FIXME-->
  <xacro:property name="linear_head_pitch_joint_max_limit" value="1.57" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_yaw_joint_min_limit" value="-1.57" /> <!--FIXME-->
  <xacro:property name="linear_head_yaw_joint_max_limit" value="1.57" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="laser_roll_joint_min_limit" value="-1.57" /> <!--FIXME-->
  <xacro:property name="laser_roll_joint_max_limit" value="1.57" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="laser_pitch_joint_min_limit" value="-1.57" /> <!--FIXME-->
  <xacro:property name="laser_pitch_joint_max_limit" value="1.57" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="kinect_pitch_joint_min_limit" value="-1.57" /> <!--FIXME-->
  <xacro:property name="kinect_pitch_joint_max_limit" value="1.57" /> <!--FIXME-->
  <!-- ==================================================================== -->
  <xacro:property name="kinect_yaw_joint_min_limit" value="-1.57" /> <!--FIXME-->
  <xacro:property name="kinect_yaw_joint_max_limit" value="1.57" /> <!--FIXME-->
  <!-- ==================================================================== -->

<!-- Coefficients ######################################################### -->

  <!-- Velocities ========================================================= -->
  <xacro:property name="max_robot_linear_velocity" value="2.0" />
  <!-- ==================================================================== -->
  <xacro:property name="max_robot_angular_velocity" value="2.0" />
  <!-- ==================================================================== -->
  <xacro:property name="max_kinect_angular_velocity" value="2.5" />
  <!-- ==================================================================== -->
  <xacro:property name="max_laser_angular_velocity" value="2.5" />
  <!-- ==================================================================== -->
  
  <!-- Accelerations ====================================================== -->
  <xacro:property name="max_robot_linear_acceleration" value="1.0" />
  <!-- ==================================================================== -->
  <xacro:property name="max_robot_angular_acceleration" value="0.2" />
  <!-- ==================================================================== -->
  <xacro:property name="max_kinect_angular_acceleration" value="0.0" />
  <!-- ==================================================================== -->
  <xacro:property name="max_laser_angular_acceleration" value="0.0" />
  <!-- ==================================================================== -->

<!-- Dimensions ########################################################### -->

  <!-- TODO -->

  <!-- Wheels ============================================================= -->
  <xacro:property name="wheel_length" value="0.07985" />
  <!-- ==================================================================== -->
  <xacro:property name="wheel_radius" value="0.09794" />
  <!-- ==================================================================== -->
  <xacro:property name="wheel_separation" value="0.344" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
