<launch>
  <arg name="nodelet_manager" default="/kinect/kinect_nodelet_manager" />
  <arg name="name" default="frame_matcher" />
  <arg name="global_frame" default="/map" />
  <arg name="map_type" default="SLAM" />
  <arg name="active_states" default="[SENSOR_HOLD]" />
  <arg name="preprocessor" default="frame_matcher/enhanced_image_preprocessor" />
  <arg name="postprocessor" default="frame_matcher/enhanced_image_postprocessor" />
  <arg name="map_topic" default="/slam/map" />
  <arg name="image_target" default="/camera/image" />
  <arg name="input_images" default="/input_images" />
  <arg name="matched_image" default="/camera/matched_images" />

  <!-- <node pkg="frame_matcher" name="$(arg name)" type="frame_matcher_node" output="screen"> -->
  <!-- <node pkg="nodelet" name="$(arg name)" type="nodelet" output="screen"      -->
  <!--     args="load pandora_data_fusion/frame_matcher $(arg nodelet_manager)" > -->
  <node pkg="nodelet" name="$(arg name)" type="nodelet" output="screen"
      args="standalone pandora_data_fusion/frame_matcher" >
    <rosparam subst_value="True" >
      global_frame: $(arg global_frame)
      active_states: $(arg active_states)
      preprocessor: $(arg preprocessor)
      postprocessor: $(arg postprocessor)
      matcher:
        map_type: $(arg map_type)
        subscribed_topic_names:
          map_topic: $(arg map_topic)
          image_target_topic: $(arg image_target)
      subscribed_topics: $(arg input_images)
      published_topics: $(arg matched_image)
    </rosparam>
  </node>
</launch>
