<launch>
  <arg name="nodelet_manager" default="/kinect/kinect_nodelet_manager" />

  <arg name="standalone_nodelet" default="false" />

  <group unless="$(arg standalone_nodelet)">
    <node pkg="nodelet" type="nodelet" name="depth"
      args="load pandora_vision_hole/depth $(arg nodelet_manager)" output="screen" >
      <rosparam file="$(find pandora_vision_hole)/cfg/depth_node_cfg/depth_node_topics.yaml"
                command="load" />
    </node>
  </group>

  <group if="$(arg standalone_nodelet)">
    <node pkg="nodelet" type="nodelet" name="depth"
      args="standalone pandora_vision_hole/depth" output="screen" >
      <rosparam file="$(find pandora_vision_hole)/cfg/depth_node_cfg/depth_node_topics.yaml"
                command="load" />
    </node>
  </group>
</launch>
