<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/urdf/flir.urdf.xacro" />
  
  <xacro:macro name="flir_sensor" >
    <xacro:flir_caster parent="kinect_link" >
      <origin xyz="0.0173 0.0747 0.0"
              rpy="0 0 0" />
    </xacro:flir_caster>
  </xacro:macro>

</robot>
