<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/urdf/sonar.urdf.xacro" />
  
  <xacro:macro name="left_sonar_sensor" >
    <xacro:sonar_caster name="left"
                        parent="base_link" >
      <origin xyz="-0.146 0.1376 0.21406"
              rpy="0.0 0.0 ${- PI_6 }" />
    </xacro:sonar_caster>
  </xacro:macro>
  
  <xacro:macro name="right_sonar_sensor" >
    <xacro:sonar_caster name="right"
                        parent="base_link" >
      <origin xyz="-0.146 -0.1376 0.21406"
              rpy="0.0 0.0 ${ PI_6 }" />
    </xacro:sonar_caster>
  </xacro:macro>

</robot>
