<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_sensors_description)/urdf/thermal.urdf.xacro" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="thermal_sensor" >
  
    <xacro:thermal_caster parent="base_link"
                          prefix_y="middle" >

      <origin xyz="0.01575 -0.0614 0.08243"
              rpy="${-PI_2} 0 0" />

    </xacro:thermal_caster>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
