<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/urdf/thermal.urdf.xacro" />
  
  <xacro:macro name="thermal_sensor" >
    <xacro:thermal_caster parent="kinect_main_link"
                          prefix_y="middle" >
      <origin xyz="0.0173 0.0949 0.022"
              rpy="0 0 0" />
    </xacro:thermal_caster>
  </xacro:macro>

</robot>
