<launch>
  <arg name="nodelet_manager" default="/kinect/kinect_nodelet_manager" />

  <node pkg="nodelet" type="nodelet" name="rgb"
    args="load pandora_vision_hole/rgb $(arg nodelet_manager)" output="screen" >
    <rosparam file="$(find pandora_vision_hole)/cfg/rgb_node_cfg/rgb_node_topics.yaml"
              command="load" />
  </node>
</launch>
