<launch>
  <arg name="namespace" default="motor" />

  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_motor_hardware_interface)/motor_hardware_interface/config/motor_hardware_interface.yaml"
    ns="$(arg namespace)"/>

  <!-- Launch controller manager with pandora hardware interface-->
  <node
    name="motor_hardware_interface_node"
    pkg="pandora_motor_hardware_interface"
    type="motor_hardware_interface_node"
    output="screen"
    ns="$(arg namespace)"/>
</launch>
