<launch>
  <!-- Launch controller manager with pandora hardware interface-->
  <include
    file="$(find pandora_linear_motor_hardware_interface)/linear_motor_hardware_interface/launch/linear_motor_hardware_interface.launch" />

  <!-- spawn controllers -->
  <include
    file="$(find pandora_linear_motor_hardware_interface)/linear_motor_hardware_interface/launch/linear_motor_controller.launch" />
</launch>
