<launch>
  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_linear_motor_hardware_interface)/linear_motor_hardware_interface/config/linear_motor_hardware_interface.yaml"
    ns="/linear"/>

  <!-- Launch controller manager with pandora hardware interface-->
  <node
    name="motor_hardware_interface_node"
    pkg="pandora_linear_motor_hardware_interface"
    type="linear_motor_hardware_interface_node"
    output="screen"
    ns="/linear">
    <remap
      from="/linear_elevator_controller/command"
      to="/linear/linear_elevator_controller/command"/>
  </node>
    
</launch>
