<launch>

<include file="$(find state_manager)/launch/stateManager.launch" />
<include file="$(find pandora_vision_hazmat)/launch/hazmat_node.launch" />
<param name="kinect/topic_name" value="/kinect/rgb/image_raw"/>
<param name="left_camera/topic_name" value="/camera/image_raw"/>
<param name="right_camera/topic_name" value="/usb1/image_raw"/>
<include file="$(find pandora_robots_description)/launch/gears/gears_description.launch" />

<test test-name="HazmatAccuracyTest" pkg="pandora_vision_hazmat"
  type="accuracy_test.py" time-limit="60.0"/>

</launch>
