<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/thermal/urdf/*.urdf.xacro" />
  
  <xacro:macro name="thermal" >
    <xacro:flir_lepton parent="kinect_link" >
      <origin xyz="0.0173 0.0747 0.0"
              rpy="0 0 0" />
    </xacro:flir_lepton>
  </xacro:macro>

</robot>
