<launch>
  <!--Node -->
  <include file="$(find pandora_end_effector_controller)/launch/end_effector_controller_node.launch" />
  <!--Linear -->
  <!-- <include file="$(find pandora_linear_movement_controller)/launch/linear_movement_controller.launch" /> -->
  <!--Sensors -->
  <include file="$(find pandora_sensor_orientation_controller)/launch/sensor_orientation_controller.launch" />

</launch>
