<launch>
    <group ns="pandora_vision_motion">
      
      <param name="camera_name" value="kinect" />
      
      <node name="motion_node" type="motion_node" pkg="pandora_vision_motion" respawn="False" output="screen" />
      <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
   
    </group>
</launch>
