<launch>
    <group ns="pandora_vision_motion">
      
      <param name="camera_name" value="kinect" />
      
      <node name="motion_node" type="motion_node" pkg="pandora_vision_motion" respawn="False" output="screen" />
      <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
      
      <!-- **************** /-->
      <!-- Debug Mode params /-->
      <!-- **************** /-->
      
        <!-- Enable Motion Debug /-->
        <param name="debugMotion" type="bool" value="True"/>
        
      <!-- **************** /-->
      <!-- Dummy Msg params /-->
      <!-- **************** /-->
        
        <!-- Enable Motion Dummy /-->
        <param name="motionDummy" type="bool" value="False"/>
        
                    
      <!-- *********************** /-->
      <!--  MotionDetector params  /-->
      <!-- *********************** /-->
          
        <!-- Test param for Motion Detection  /-->
        <param name="motionBuffer" type="int" value="5"/> 
        
        <!-- Test param for Motion Detection  /-->
        <param name="motionDiffThres" type="int" value="45"/>
        
        <!-- Test param for Motion Detection  /-->
        <param name="motionHighThres" type="double" value="4000"/>
        
        <!-- Test param for Motion Detection  /-->
        <param name="motionLowThres" type="double" value="380"/> 
        

    </group>
</launch>
