<?xml version="1.0"?>
<launch>

  <include file="$(find pandora_launchers)/remote_machines/machine/rpi2.machine" />

  <arg name="namespace" default="flir_lepton"/>

  <!-- Flir Lepton -->
  <node
    machine="rpi2"
    name="flir_lepton"
    pkg="flir_lepton"
    type="flir_lepton_node" 
    launch-prefix="nice -n -10"
  >

    <param name="dataset/spline_interpolated_data" 
      value="/home/pandora/pandora_ws/src/rpi_hardware_interface/data/flir_lepton/dataset_spline_interp.pandora" />
    <param name="interface_rate" value="20" />
    <param name="published_topics/flir_image_topic" value="/rpi2/thermal/image" />
    <param name="published_topics/flir_fused_topic" value="/rpi2/thermal/fused" />
    <param name="flir_urdf/camera_optical_frame" value="/flir_optical_frame" />

  </node>

</launch>
