<?xml version="1.0"?>
<launch>

  <include file="$(find pandora_launchers)/remote_machines/machine/rpi2.machine" />

  <arg name="namespace" default="ledstrip_controller"/>

  <!-- Ledstrip Controller -->
  <node
    machine="rpi2"
    name="ledstrip_controller"
    pkg="ledstrip_controller"
    type="ledstrip_controller.py"
  >

    <param name="published_topics/ledstrip_state" value="/kinect/ledstrip/state" />
    <param name="subscribed_topics/brightness" value="/kinect/ledstrip/brigtness" />
    <param name="subscribed_topics/ledstrip_cmd" value="/kinect/ledstrip/state_cmd" />
    <param name="subscribed_topics/state_client" value="/robot/state/clients" />
    <param name="led_gpio_pin" value="22" />
    <param name="pub_rate" value="1" />

  </node>

</launch>
