<?xml version="1.0"?>

<launch>

  <include file="$(find pandora_launchers)/remote_machines/machine/rpi2.machine" />

  <arg name="namespace" default="pi_camera"/>

  <arg name="hfov" default="53.50" />
  <arg name="vfov" default="41.41" />
  <arg name="optical_frame" default="/pi_camera_optical_frame" />


  <!-- PI Camera Node -->
  <node
    machine="rpi2"
    name="pi_camera"
    pkg="pi_camera"
    type="pi_camera_node.py"
    launch-prefix="nice -n -5"
    output="screen"
  >

    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="framerate" value="30" />
    <param name="image_format" value="rgb" />
    <param name="use_video_port" value="True" />
    <param name="exposure_mode" value="fixedfps" />
    <param name="published_topics/image" value="/rpi2/pi_camera/image" />
    <param name="pi_camera_urdf/optical_frame" value="$(arg optical_frame)" />
  </node>

  <param name="$(arg optical_frame)/hfov" value="$(arg hfov)" />
  <param name="$(arg optical_frame)/vfov" value="$(arg vfov)" />

</launch>
