<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="flir_lepton"
               params="parent *origin" >

    <!-- Links -->
    <link name="flir_link" >
      <xacro:solid_cuboid_inertial mass="0.020" x="0.004" y="0.020" z="0.037" >
        <origin xyz="0.00126 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_sensors_description/thermal/meshes/flir_lepton.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.00225 0.0 0.0"
                rpy="0 0 0" />
        <geometry>
          <box size="0.004 0.020 0.037" />
        </geometry>
      </collision>
    </link>

    <!-- Joints -->
    <joint name="flir_parent_joint"
           type="fixed" >
      <parent link="${parent}" />
      <child link="flir_link" />
      <xacro:insert_block name="origin" />
    </joint>
    
    <!-- Frames -->
    <link name="flir_frame" >
      <xacro:point_mass_inertial />
    </link>

    <link name="flir_optical_frame" >
      <xacro:point_mass_inertial />
    </link>
    
    <joint name="flir_joint"
           type="fixed" >
      <parent link="flir_link" />
      <child link="flir_frame" />
      <origin xyz="0.0045 0.0 0.00125" 
              rpy="0.0 0.0 0.0" />
    </joint>
    
    <joint name="flir_optical_joint"
           type="fixed" >
      <parent link="flir_frame" />
      <child link="flir_optical_frame" />
      <origin xyz="0.0 0.0 0.0" 
              rpy="-1.5708 0.0 -1.5708" />
    </joint>

  </xacro:macro>

</robot>
