<launch>
    
  <node name="datamatrix_node" type="datamatrix_node" pkg="pandora_vision_datamatrix" 
    respawn="False" output="screen" />
  <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
  
  <rosparam file="$(find pandora_vision_datamatrix)/config/datamatrix_topics.yaml" 
    command="load" ns="datamatrixcode"/>
    
  <rosparam file="$(find pandora_vision_support)/config/camera_params.yaml" 
    command="load" ns="datamatrixcode"/>
        
</launch>
