#!/usr/bin/env python
PACKAGE = "pandora_sensor_processing"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#~ co2_processor
gen.add("co2_optimal", double_t, 0, "A double parameter", 1, 0, 2)
gen.add("co2_pdf_shape", double_t, 0, "A double parameter", 2, 0, 4)

#~ thermal_processor
gen.add("thermal_max_cluster_memory", int_t, 0, "An integer parameter", 3, 1, 6)
gen.add("thermal_max_cluster_iterations", int_t, 0, "An integer parameter", 100, 50, 1000)
gen.add("optimal_heat_difference", double_t, 0, "A double parameter", 5, 0, 10)
gen.add("optimal_temperature", double_t, 0, "A double parameter", 36, 10, 50)
gen.add("thermal_std_dev", double_t, 0, "A double parameter", 1, 0.01, 5)
gen.add("thermal_x_fov_degrees", double_t, 0, "A double parameter", 60, 0.01, 90)
gen.add("thermal_y_fov_degrees", double_t, 0, "A double parameter", 60, 0.01, 90)

exit(gen.generate(PACKAGE, "pandora_sensor_processing", "SensorProcessing"))

