<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="base" >

    <link name="base_link" >
      <xacro:solid_cuboid_inertial mass="1.750" x="0.349" y="0.222" z="0.325" >
        <origin xyz="0.01767 0.00008 0.12635" />
      </xacro:solid_cuboid_inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_robots_description/gio/meshes/base_link.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://pandora_robots_description/gio/meshes/base_link.stl" />
        </geometry>
      </collision>
    </link>

    <link name="miniitx" >
      <xacro:solid_cuboid_inertial mass="0.589" x="0.17" y="0.17" z="0.04" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="miniitx_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="miniitx" />
      <origin xyz="0.03895 0.0 0.16181" />
    </joint>

    <link name="ssd" >
      <xacro:solid_cuboid_inertial mass="0.078" x="0.1" y="0.01" z="0.07" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="ssd_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="ssd" />
      <origin xyz="0.059 -0.097 0.181"
              rpy="${PI_2} 0.0 0.0" />
    </joint>

    <link name="raspberry" >
      <xacro:solid_cuboid_inertial mass="0.062" x="0.095" y="0.070" z="0.025" >
        <xacro:default_origin />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="raspberry_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="raspberry" />
      <origin xyz="-0.07522 0.0 0.26906"
              rpy="0.0 0.0 0.0" />
    </joint>

    <link name="arm" >
      <xacro:solid_cuboid_inertial mass="0.050" x="0.064" y="0.104" z="0.030" >
        <xacro:default_origin />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="arm_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="arm" />
      <origin xyz="-0.07371 0.0 0.24325"
              rpy="0.0 0.0 ${PI_2}" />
    </joint>

    <link name="epos" >
      <xacro:solid_cuboid_inertial mass="0.136" x="0.075" y="0.14" z="0.04" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="epos_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="epos" />
      <origin xyz="-0.08263 0.0 0.03222" />
    </joint>

    <link name="psu" >
      <xacro:solid_cuboid_inertial mass="0.178" x="0.094" y="0.122" z="0.02" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="psu_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="psu" />
      <origin xyz="0.073 0.0 0.11023" />
    </joint>

    <link name="motor_battery" >
      <xacro:solid_cuboid_inertial mass="0.8" x="0.154" y="0.049" z="0.052" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="motor_battery_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="motor_battery" />
      <origin xyz="0.10395 0.027 0.04822" />
    </joint>

    <link name="pc_battery" >
      <xacro:solid_cuboid_inertial mass="0.8" x="0.154" y="0.049" z="0.052" >
        <origin xyz="0.0 0.0 0.0" />
      </xacro:solid_cuboid_inertial>
    </link>
    <joint name="pc_battery_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="pc_battery" />
      <origin xyz="0.10395 -0.027 0.04822" />
    </joint>

    <link name="axis" >
      <xacro:solid_cylinder_inertial mass="0.446" radius="0.03" y="0.267" >
        <xacro:default_origin />
      </xacro:solid_cylinder_inertial>
      <collision>
        <geometry>
          <box size="0.057 0.267 0.025" />
        </geometry>
      </collision>
    </link>
    <joint name="axis_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="axis" />
    </joint>

    <link name="imu" >
      <xacro:solid_cuboid_inertial mass="0.050" x="0.057" y="0.045" z="0.024" >
        <xacro:default_origin />
      </xacro:solid_cuboid_inertial>
    </link>/
    <joint name="imu_joint"
           type="fixed" >
      <parent link="base_link" />
      <child link="imu" />
      <origin xyz="0.09013 -0.08006 0.24281" />
    </joint>

  </xacro:macro>

</robot>
