<launch>

  <!--State manager-->
  <include file="$(find state_manager)/launch/stateManager.launch" />

  <!--Victim fusion and alert handler-->
  <include file="$(find pandora_alert_handler)/launch/alert_handler.launch" /> 

  <rosparam file="$(find pandora_alert_handler)/config/alert_handler/alert_handler_params.yaml" 
    command="load" ns="data_fusion/alert_handler"/>
 
</launch>
