<launch>
  <arg name="stabilizer" default="true"/>
  <arg name="eef_planner" default="true"/>

  <!--Stabilizer -->
  <include if="$(arg stabilizer)"
    file="$(find pandora_stabilizer)/launch/stabilizer_control.launch" />

  <group if="$(arg eef_planner)">
    <!--Linear Kinect and Head-->
    <include file="$(find pandora_end_effector_controller)/launch/end_effector_controller.launch" />

    <!--Center motors -->
    <node
      name="move_eef_script"
      pkg="pandora_end_effector_planner"
      type="move_eef_script.py"
      args="1" />
  </group>
</launch>
