<launch>

  <arg name="motor" default="true"/>
  <arg name="dynamixel" default="true"/>
  <arg name="imu" default="true"/>
  <arg name="imu_device" default="trax"/>
  <arg name="linear" default="true"/>
  <arg name="arm" default="true"/>
  <arg name="hardware_tools" default="true"/>

  <!-- Motors -->
  <include if="$(arg motor)"
    file="$(find pandora_motor_hardware_interface)/motor_hardware_interface/launch/motor_hardware_interface.launch" />

  <!-- Dynamixel -->
  <include if="$(arg dynamixel)"
    file="$(find pandora_dynamixel_hardware_interface)/launch/dynamixel_controller_manager.launch" />

  <!-- IMU -->
  <group if="$(arg imu)">
    <include file="$(find pandora_imu_hardware_interface)/imu_hardware_interface/launch/imu_hardware_interface_and_controllers.launch" >
      <arg name="device" value="$(arg imu_device)" />
    </include>
  </group>

  <!-- Linear -->
  <include if="$(arg linear)"
    file="$(find pandora_linear_motor_hardware_interface)/linear_motor_hardware_interface/launch/linear_motor_hardware_interface.launch" />
    
  <!-- Arm -->
  <include if="$(arg arm)"
    file="$(find pandora_arm_hardware_interface)/arm_hardware_interface/launch/arm_hardware_interface.launch" />
    
  <!-- Hardware tools -->
  <include if="$(arg hardware_tools)"
    file="$(find pandora_hardware_tools)/launch/hardware_tools.launch" />

</launch>
