<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_inertia" >

    <inertia ixx="0.11754"
             ixy="0.0039217"
             ixz="0.0053416"
             iyy="0.12773"
             iyz="-0.0039963"
             izz="0.10593" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_link_inertia" >

    <inertia ixx="0.0097139"
             ixy="-0.00039516"
             ixz="-0.00086264"
             iyy="0.0095873"
             iyz="0.0012764"
             izz="0.0017829" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_base_link_inertia" >

    <inertia ixx="0.00000001"
             ixy="0.00000001"
             ixz="0.00000001"
             iyy="0.00000001"
             iyz="0.00000001"
             izz="0.00000001" /><!--FIXME-->

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_link_inertia" >

    <inertia ixx="0.00030418"
             ixy="-1.3735E-05"
             ixz="-2.3947E-05"
             iyy="0.00015881"
             iyz="-7.9817E-06"
             izz="0.00024855" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_inertia"
               params="reflect_y" >

    <inertia ixx="0.001211"
             ixy="-4.0495E-05"
             ixz="${ reflect_y * ( 1.0211E-06 ) }"
             iyy="0.026668"
             iyz="${ reflect_y * ( -0.00024586 ) }"
             izz="0.026454" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_inertia"
               params="reflect_y" >

    <inertia ixx="0.0032586"
             ixy="5.862E-08"
             ixz="${ reflect_y * ( 4.2142E-07 ) }"
             iyy="0.0054812"
             iyz="${ reflect_y * ( -6.4028E-08 ) }"
             izz="0.0032574" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
