<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Inertial ############################################################# -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_inertial_origin" >

    <origin xyz="-0.010032 -0.0067035 0.16451" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_link_inertial_origin" >

    <origin xyz="0.017561 0.0109 0.24001" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_base_link_inertial_origin" >
  
    <origin xyz="0.02347 0.0 0.00124" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_link_inertial_origin" >

    <origin xyz="-0.0027417 0.0050805 0.037323" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_inertial_origin"
               params="reflect_y" >

    <origin xyz="${ reflect_y * ( -9.2074E-08 ) } ${ reflect_y * ( 0.010782 ) } -0.028501" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_inertial_origin"
               params="reflect_y" >

    <origin xyz="${ reflect_y * ( -2.2235E-05 ) } ${ reflect_y * ( -0.00052624 ) } 2.4287E-05" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- Visual ############################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_visual_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_link_visual_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_base_link_visual_origin" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${PI_2}" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_link_visual_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_visual_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_visual_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- Collision ############################################################ -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_collision_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_link_collision_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_base_link_collision_origin" >

    <origin xyz="0.0 0.02347 0.00124"
            rpy="0.0 0.0 ${PI_2}" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_link_collision_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_collision_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_collision_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
