<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Inertial ############################################################# -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_inertial_origin" >

    <origin xyz="-1.1543E-07 -1.3195E-07 0.23164"
            rpy="${zero}" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_inertial_origin"
               params="reflect_y" >

    <origin xyz="${ reflect_y * ( -9.2074E-08 ) } ${ reflect_y * ( 0.010782 ) } -0.028501"
            rpy="${zero}" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_inertial_origin"
               params="reflect_y" >

    <origin xyz="${ reflect_y * ( -2.2235E-05 ) } ${ reflect_y * ( -0.00052624 ) } 2.4287E-05"
            rpy="${zero}" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- Visual ############################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_visual_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_visual_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_visual_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- Collision ############################################################ -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_collision_origin" >

    <xacro:default_origin />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_collision_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_collision_origin"
               params="reflect_y" >

    <origin xyz="${zero}"
            rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
