<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_mass" >

    <mass value="8.6373" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_link_mass" >

    <mass value="0.92399" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_base_link_mass" >

    <mass value="0.0001" /><!--FIXME-->

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_link_mass" >

    <mass value="0.16491" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_mass" >

    <mass value="0.93539" />

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_mass" >

    <mass value="1.2128" />

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
