<?xml version="1.0"?>

<robot>

<!-- Colors for RViz -->

<!-- Main Colors ########################################################## -->

  <!-- ==================================================================== -->
  <material name="black" >

    <color rgba="${0/255} ${0/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="blue" >

    <color rgba="${0/255} ${0/255} ${204/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="green" >

    <color rgba="${0/255} ${204/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="grey" >

    <color rgba="${51/255} ${51/255} ${51/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="orange" >

    <color rgba="${255/255} ${108/255} ${10/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="brown" >

    <color rgba="${222/255} ${207/255} ${195/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="red" >

    <color rgba="${204/255} ${0/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="white" >

    <color rgba="${255/255} ${255/255} ${255/255} 1.0" />

  </material>
  <!-- ==================================================================== -->

<!-- Other Colors ######################################################### -->

  <!-- ==================================================================== -->
  <material name="Black" >

    <color rgba="${0/255} ${0/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="White" >

    <color rgba="${255/255} ${255/255} ${255/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Red" >

    <color rgba="${255/255} ${0/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Lime" >

    <color rgba="${0/255} ${255/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Blue" >

    <color rgba="${0/255} ${0/255} ${255/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Yellow" >

    <color rgba="${255/255} ${255/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Cyan " >

    <color rgba="${0/255} ${255/255} ${255/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Magenta " >

    <color rgba="${255/255} ${0/255} ${255/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Silver" >

    <color rgba="${192/255} ${192/255} ${192/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Gray" >

    <color rgba="${128/255} ${128/255} ${128/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Maroon" >

    <color rgba="${128/255} ${0/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Olive" >

    <color rgba="${128/255} ${128/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Green" >

    <color rgba="${0/255} ${128/255} ${0/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Purple" >

    <color rgba="${128/255} ${0/255} ${128/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Teal" >

    <color rgba="${0/255} ${128/255} ${128/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="Navy" >

    <color rgba="${0/255} ${0/255} ${128/255} 1.0" />

  </material>
  <!-- ==================================================================== -->

<!-- Gears Colors ######################################################### -->

  <!-- ==================================================================== -->
  <material name="solidworks_default" >

    <color rgba="${192/255} ${192/255} ${192/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="base" >

    <color rgba="${230/255} ${230/255} ${230/255} 0.8" />

  </material>
  <!-- ==================================================================== -->
  <material name="side" >

    <color rgba="${190/255} ${190/255} ${190/255} 1.0" />

  </material>
  <!-- ==================================================================== -->
  <material name="wheel" >

    <color rgba="${20/255} ${20/255} ${0/255} 0.9" />

  </material>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>