<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Robot NameSpace ###################################################### -->

  <!-- ==================================================================== -->
  <xacro:property name="robot_namespace" value="" />
  <!-- ==================================================================== -->

<!-- Links ################################################################ -->

  <!-- ==================================================================== -->
  <xacro:property name="base_link_name" value="base" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_elevator_link_name" value="linear_elevator" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_link_name" value="linear_head" />
  <!-- ==================================================================== -->
  <xacro:property name="side_link_name" value="side" />
  <!-- ==================================================================== -->
  <xacro:property name="wheel_link_name" value="wheel" />
  <!-- ==================================================================== -->

<!-- Joints ############################################################### -->

  <!-- ==================================================================== -->
  <xacro:property name="linear_elevator_joint_name" value="linear_elevator" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_pitch_joint_name" value="linear_head_pitch" />
  <!-- ==================================================================== -->
  <xacro:property name="linear_head_yaw_joint_name" value="linear_head_yaw" />
  <!-- ==================================================================== -->
  <xacro:property name="side_joint_name" value="side" />
  <!-- ==================================================================== -->
  <xacro:property name="wheel_joint_name" value="wheel" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
