<launch>

  <node pkg="pandora_sensor_processing" type="thermal_node" name="thermal_processor"
    output="screen" ns="sensor_processing" />
  <rosparam file="$(find pandora_sensor_processing)/config/sensor_processing/thermal_processor_params.yaml" command="load" ns="sensor_processing/thermal_processor"/>

</launch>
