<launch>
  <arg name="namespace" default="imu" />

  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_imu_hardware_interface)/config/imu_sensor_controller.yaml"
    ns="$(arg namespace)"/>

  <!-- spawn controller -->
  <node
    name="imu_controller_spawner"
    pkg="controller_manager"
    type="controller_manager"
    output="screen"
    ns="$(arg namespace)"
    args="spawn imu_sensor_controller"/>
</launch>
