<launch>
  <arg name="nodelet_manager" default="/kinect/kinect_nodelet_manager" />
  <arg name="standalone_nodelet" default="false" />

  <!-- <node name="pandora_qrcode" type="pandora_vision_qrcode_node" pkg="pandora_vision_qrcode" -->
  <!--   respawn="False" output="screen" >                                                       -->

  <group unless="$(arg standalone_nodelet)">
    <node pkg="nodelet" type="nodelet" name="pandora_qrcode"
      args="load pandora_vision/pandora_vision_qrcode $(arg nodelet_manager)" output="screen" >
      <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_topics.yaml"
        command="load" />
      <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_params.yaml"
        command="load" ns="detector" />
    </node>
    <!-- [> Add in upper line to enable debugging: launch-prefix="kdbg" /<] -->
  </group>

  <group if="$(arg standalone_nodelet)">
  <node pkg="nodelet" type="nodelet" name="pandora_qrcode"
    args="standalone pandora_vision/pandora_vision_qrcode" output="screen" >
    <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_topics.yaml"
      command="load" />
    <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_params.yaml"
      command="load" ns="detector" />
  </node>
    <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
  </group>
</launch>
