<launch>

  <node name="pandora_qrcode" type="pandora_vision_qrcode_node" pkg="pandora_vision_qrcode"
    respawn="False" >
    <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_topics.yaml"
      command="load" ns="/pandora_vision/pandora_vision_qrcode"/>
    <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_params.yaml"
      command="load" ns="/pandora_vision/pandora_vision_qrcode" ns="detector" />
  </node>
    <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->


</launch>
