<launch>
    
  <node name="qrcode_node" type="qrcode_node" pkg="pandora_vision_qrcode" respawn="False" output="screen" />
    <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
    
  <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_topics.yaml" 
        command="load" ns="qrcode"/>
    
  <rosparam file="$(find pandora_vision_qrcode)/config/qrcode_params.yaml" 
        command="load" ns="qrcode"/>
    
</launch>
