<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Linear Elevator ###################################################### -->

  <xacro:macro name="linear_elevator_joint"
               params="control" >

    <xacro:if value="${control}" >
      <!-- ================================================================ -->
      <joint name="${linear_elevator_joint_name}_joint"
             type="${linear_elevator_joint_type}" >

        <parent link="${base_link_name}_link" />
        <child link="${linear_elevator_link_name}_link" />

        <xacro:linear_elevator_joint_origin />

        <xacro:linear_elevator_joint_urdf_physics />

      </joint>
      <!-- ================================================================ -->
    </xacro:if>

    <xacro:unless value="${control}" >
      <!-- ================================================================ -->
      <joint name="${linear_elevator_joint_name}_joint"
             type="fixed" >

        <parent link="${base_link_name}_link" />
        <child link="${linear_elevator_link_name}_link" />

        <xacro:linear_elevator_joint_origin />

      </joint>
      <!-- ================================================================ -->
    </xacro:unless>
    
  </xacro:macro>

<!-- Linear Head  ######################################################### -->

  <xacro:macro name="linear_head_joints"
               params="control" >

    <xacro:if value="${control}" >
      <!-- ================================================================ -->
      <joint name="${linear_head_pitch_joint_name}_joint"
             type="${linear_head_pitch_joint_type}" >

        <parent link="${linear_elevator_link_name}_link" />
        <child link="${linear_head_link_name}_base_link" />

        <xacro:linear_head_pitch_joint_origin />

        <xacro:linear_head_pitch_joint_urdf_physics />

      </joint>
      <!-- ================================================================ -->
      <joint name="${linear_head_yaw_joint_name}_joint"
             type="${linear_head_yaw_joint_type}" >

        <parent link="${linear_head_link_name}_base_link" />
        <child link="${linear_head_link_name}_link" />

        <xacro:linear_head_yaw_joint_origin />

        <xacro:linear_head_yaw_joint_urdf_physics />

      </joint>
      <!-- ================================================================ -->
    </xacro:if>

    <xacro:unless value="${control}" >
      <!-- ================================================================ -->
      <joint name="${linear_head_pitch_joint_name}_joint"
             type="fixed" >
             
        <parent link="${linear_elevator_link_name}_link" />
        <child link="${linear_head_link_name}_base_link" />

        <xacro:linear_head_pitch_joint_origin />

      </joint>
      <!-- ================================================================ -->
      <joint name="${linear_head_yaw_joint_name}_joint"
             type="fixed" >

        <parent link="${linear_head_link_name}_base_link" />
        <child link="${linear_head_link_name}_link" />

        <xacro:linear_head_yaw_joint_origin />

      </joint>
      <!-- ================================================================ -->
    </xacro:unless>
    
  </xacro:macro>

<!-- Side ################################################################# -->

  <xacro:macro name="side_joint"
               params="prefix_y reflect_y" >
    <!-- ================================================================== -->
    <joint name="${prefix_y}_${side_joint_name}_joint"
           type="${side_joint_type}" >

      <parent link="${base_link_name}_link" />
      <child link="${prefix_y}_${side_link_name}_link" />

      <xacro:side_joint_origin reflect_y="${reflect_y}" />

      <xacro:side_joint_urdf_physics />

    </joint>
    <!-- ================================================================== -->
  </xacro:macro>

<!-- Wheel ################################################################ -->

  <xacro:macro name="wheel_joint"
               params="prefix_y prefix_x reflect_y reflect_x" >
    <!-- ================================================================== -->
    <joint name="${prefix_y}_${prefix_x}_${wheel_joint_name}_joint"
           type="${wheel_joint_type}" >

      <parent link="${prefix_y}_${side_link_name}_link" />
      <child link="${prefix_y}_${prefix_x}_${wheel_link_name}_link" />

      <xacro:wheel_joint_origin reflect_y="${reflect_y}"
                                reflect_x="${reflect_x}" />

      <xacro:wheel_joint_urdf_physics />

    </joint>
    <!-- ================================================================== -->
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
