<launch>
  <node name="hokuyo_laser" pkg="urg_node" type="urg_node" respawn="false">
    <param name="frame_id" type="string" value="laser_link"/>
    <param name="ip_address" type="string" value="192.168.2.10"/>
    <param name="ip_port" type="string" value="10940"/>
    <param name="angle_min" type="double" value="-1.99840199353"/>
    <param name="angle_max" type="double" value="1.99840199353"/>
    <param name="range_max" type="double" value="20"/>
    <param name="skip" type="int" value="3"/>
    <param name="cluster" type="int" value="2"/>
    <param name="publish_intensity" type="bool" value="false"/>

    <remap from="scan" to="laser/scan"/>
  </node>
</launch>
