<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="camera_caster"
               params="parent prefix_y *origin" >

    <!-- ################################################################## -->

    <link name="${prefix_y}_camera_main_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.00972 0.0 0.04428" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="2.1208E-7"
                 ixy="0"
                 ixz="0"
                 iyy="4.033E-7"
                 iyz="0"
                 izz="2.1208E-7" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="0 0 0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_sensors_description/meshes/camera/logitech.dae" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.00557 0.0 0.03624"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.049 0.095 0.073" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>

    <!-- ################################################################## -->

    <link name="${prefix_y}_camera_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.0001" />
        <!-- ============================================================== -->
        <inertia ixx="0.00000001"
                 ixy="0"
                 ixz="0"
                 iyy="0.00000001"
                 iyz="0"
                 izz="0.00000001" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <link name="${prefix_y}_camera_optical_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.0001" />
        <!-- ============================================================== -->
        <inertia ixx="0.00000001"
                 ixy="0"
                 ixz="0"
                 iyy="0.00000001"
                 iyz="0"
                 izz="0.00000001" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <joint name="${prefix_y}_camera_main_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="${parent}" />
      <child link="${prefix_y}_camera_main_link" />
      <!-- ================================================================ -->
      <xacro:insert_block name="origin" />
      <!-- ================================================================ -->

    </joint>

    <!-- ################################################################## -->
    
    <joint name="${prefix_y}_camera_joint"
           type="fixed" >
           
      <!-- ================================================================ -->
      <parent link="${prefix_y}_camera_main_link" />
      <child link="${prefix_y}_camera_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.02499 0.0 0.05704" 
              rpy="0.0 -0.2792 0.0" />
      <!-- ================================================================ -->
                 
    </joint>

    <!-- ################################################################## -->
    
    <joint name="${prefix_y}_camera_optical_joint"
           type="fixed" >
           
      <!-- ================================================================ -->
      <parent link="${prefix_y}_camera_frame" />
      <child link="${prefix_y}_camera_optical_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.0 0.0 0.0" 
              rpy="-1.5708 0.0 -1.5708" />
      <!-- ================================================================ -->
                 
    </joint>

    <!-- ################################################################## -->

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
