<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="co2_caster"
               params="parent *origin" >

    <!-- ################################################################## -->

    <link name="co2_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.005 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="2.1208E-7"
                 ixy="0"
                 ixz="0"
                 iyy="4.033E-7"
                 iyz="0"
                 izz="2.1208E-7" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="0 0 0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_sensors_description/meshes/co2/dynament.dae" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.0075 0.0 0.0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.015 0.022 0.022" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>

    <!-- ################################################################## -->

    <link name="co2_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <joint name="co2_main_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="${parent}" />
      <child link="co2_link" />
      <!-- ================================================================ -->
      <xacro:insert_block name="origin" />
      <!-- ================================================================ -->
      
    </joint>

    <!-- ################################################################## -->

    <joint name="co2_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="co2_link" />
      <child link="co2_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.015 0.0 0.0" 
              rpy="0.0 0.0 0.0" />
      <!-- ================================================================ -->

    </joint>

    <!-- ################################################################## -->

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
