<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="flir_caster"
               params="parent *origin" >

    <!-- ################################################################## -->

    <link name="flir_main_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.00126 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="2.1208E-7"
                 ixy="0"
                 ixz="0"
                 iyy="4.033E-7"
                 iyz="0"
                 izz="2.1208E-7" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="0 0 0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_sensors_description/meshes/co2/dynament.dae" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.00225 0.0 0.0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.004 0.020 0.037" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>

    <!-- ################################################################## -->

    <link name="flir_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <link name="flir_optical_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <joint name="flir_main_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="${parent}" />
      <child link="flir_main_link" />
      <!-- ================================================================ -->
      <xacro:insert_block name="origin" />
      <!-- ================================================================ -->

    </joint>

    <!-- ################################################################## -->
    
    <joint name="flir_joint"
           type="fixed" >
           
      <!-- ================================================================ -->
      <parent link="flir_main_link" />
      <child link="flir_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.0045 0.0 0.00125" 
              rpy="0.0 0.0 0.0" />
      <!-- ================================================================ -->
                 
    </joint>

    <!-- ################################################################## -->
    
    <joint name="flir_optical_joint"
           type="fixed" >
           
      <!-- ================================================================ -->
      <parent link="flir_frame" />
      <child link="flir_optical_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.0 0.0 0.0" 
              rpy="-1.5708 0.0 -1.5708" />
      <!-- ================================================================ -->
                 
    </joint>

    <!-- ################################################################## -->

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
