<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="microphone_caster"
               params="parent *origin" >

    <!-- ################################################################## -->

    <link name="microphone_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.01177 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.075" />
        <!-- ============================================================== -->
        <inertia ixx="2.1208E-7"
                 ixy="0"
                 ixz="0"
                 iyy="4.033E-7"
                 iyz="0"
                 izz="2.1208E-7" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="0 0 0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_sensors_description/meshes/microphone/kinect_array.dae" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.01"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.053 0.055 0.020" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>

    <!-- ################################################################## -->

    <link name="microphone_frame" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" />
        <!-- ============================================================== -->
      </inertial>

    </link>

    <!-- ################################################################## -->

    <joint name="microphone_main_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="${parent}" />
      <child link="microphone_link" />
      <!-- ================================================================ -->
      <xacro:insert_block name="origin" />
      <!-- ================================================================ -->

    </joint>

    <!-- ################################################################## -->

    <joint name="microphone_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="microphone_link" />
      <child link="microphone_frame" />
      <!-- ================================================================ -->
      <origin xyz="0.0 0.0 0.0125" 
              rpy="0.0 0.0 0.0" />
      <!-- ================================================================ -->

    </joint>

    <!-- ################################################################## -->

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
