<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="sonar_caster"
               params="name parent *origin" >

    <!-- ################################################################## -->

    <link name="${name}_sonar_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.005 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.010" />
        <!-- ============================================================== -->
        <inertia ixx="4.2416E-7"
                 ixy="0.0"
                 ixz="0.0"
                 iyy="2.0166E-6"
                 iyz="0.0"
                 izz="1.6341E-6" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="0 0 0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_sensors_description/meshes/sonar_sensor/max_sonar_ez4.dae" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.007 0.0 0.0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.025 0.05 0.025" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>

    <!-- ################################################################## -->

    <joint name="${name}_sonar_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="${parent}" />
      <child link="${name}_sonar_link" />
      <!-- ================================================================ -->
      <xacro:insert_block name="origin" />
      <!-- ================================================================ -->

    </joint>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
