<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="thermal_caster"
               params="parent prefix_y *origin" >

    <!-- ################################################################## -->

    <link name="${prefix_y}_thermal_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.005 0.0 0.0" />
        <!-- ============================================================== -->
        <mass value="0.005" />
        <!-- ============================================================== -->
        <inertia ixx="2.1208E-7"
                 ixy="0"
                 ixz="0"
                 iyy="4.033E-7"
                 iyz="0"
                 izz="2.1208E-7" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="0 0 0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_sensors_description/meshes/thermal_sensor/thermal_small.dae" />
        </geometry>
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.007 0.0 0.0"
                rpy="0 0 0" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.025 0.025 0.025" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>

    <!-- ################################################################## -->

    <joint name="${prefix_y}_thermal_joint"
           type="fixed" >

      <!-- ================================================================ -->
      <parent link="${parent}" />
      <child link="${prefix_y}_thermal_link" />
      <!-- ================================================================ -->
      <xacro:insert_block name="origin" />
      <!-- ================================================================ -->

    </joint>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
