<launch>

  <!-- =========================== The namespace =========================== -->

  <arg name="namespace" default="hole_detector" />

  <!-- ================== Parameters for yaw pitch extraction ============== -->

  <param name="/kinect_rgb_optical_frame/hfov" value="58.0" />
  <param name="/kinect_rgb_optical_frame/vfov" value="45.0" />

  <!-- Output selection -->
  <arg name="output" default="screen" />

  <!-- ========================= Synchronizer node ========================= -->

  <node name="synchronizer_node"
        type="synchronizer_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <!-- The width and height variables needed when in simulation mode -->
    <param name="width" value="640" />
    <param name="height" value="480" />

    <rosparam file="$(find pandora_vision_hole)/cfg/synchronizer_node_topics.yaml"
              command="load" />
  </node>

  <!-- ======================= RGBDT Synchronizer node ===================== -->
  
  <node name="rgb_depth_thermal_synchronizer_node"
        type="rgb_depth_thermal_synchronizer.py"
        pkg="pandora_vision_hole"
        respawn="false"
        output="$(arg output)"
        ns="$(arg namespace)">
        

    <rosparam file="$(find pandora_vision_hole)/cfg/synchronizer_node_topics.yaml"
              command="load" />

  </node>

  <!-- ============================ Depth node ============================= -->

  <node name="depth_node"
        type="depth_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/depth_node_topics.yaml"
              command="load" />
  </node>


  <!-- ============================= RGB node ============================== -->

  <node name="rgb_node"
        type="rgb_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/rgb_node_topics.yaml"
              command="load" />
  </node>

  <!-- ============================= Thermal node ========================== -->

  <node
    name="thermal_camera_node"
    type="thermal_camera_node"
    pkg="pandora_vision_hole"
    respawn="False"
    output="$(arg output)"
    ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/thermal_node_topics.yaml"
    command="load" />

    <rosparam file="$(find pandora_vision_hole)/cfg/thermal_node_matching_variables.yaml"
    command="load" /> 
   
  </node>

  <!-- ====================== Thermal Cropper node ========================= -->
  <node
    name="thermal_cropper_node"
    type="thermal_cropper_node"
    pkg="pandora_vision_hole"
    respawn="False"
    output="$(arg output)"
    ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/thermal_node_topics.yaml"
    command="load" />

  </node>

  <!-- ========================= Hole Fusion node ========================== -->

  <node name="hole_fusion_node"
        type="hole_fusion_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/hole_fusion_node_topics.yaml"
              command="load" />
  </node>

</launch>
