<launch>

  <!-- =========================== The namespace =========================== -->

  <arg name="namespace" default="hole_detector" />


  <!-- ========================= Synchronizer node ========================= -->

  <node name="synchronizer_node"
        type="synchronizer_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <!-- The width and height variables needed when in simulation mode -->
    <param name="width" value="640" />
    <param name="height" value="480" />

    <rosparam file="$(find pandora_vision_hole)/cfg/synchronizer_node_topics.yaml"
              command="load" />
  </node>


  <!-- ============================ Depth node ============================= -->

  <node name="depth_node"
        type="depth_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/depth_node_topics.yaml"
              command="load" />
  </node>


  <!-- ============================= RGB node ============================== -->

  <node name="rgb_node"
        type="rgb_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/rgb_node_topics.yaml"
              command="load" />
  </node>


  <!-- ========================= Hole Fusion node ========================== -->

  <node name="hole_fusion_node"
        type="hole_fusion_node"
        pkg="pandora_vision_hole"
        respawn="False"
        ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/hole_fusion_node_topics.yaml"
              command="load" />
  </node>

</launch>
