<launch>

  <!-- ============= The namespace ==================== -->

  <arg name="namespace" default="temperature_detector" />

  <arg name="output" default="screen" />


  <arg name="path" default="/media/INTENSO/pandora/thermal2.bag" />

  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -l $(arg path)" >
  </node>

  <node
    name="thermal_temperatures_node"
    type="thermal_temperatures_node"
    pkg="pandora_vision_hole"
    respawn="False"
    output="$(arg output)"
    ns="$(arg namespace)">

    <rosparam file="$(find pandora_vision_hole)/cfg/temperatures_node_topics.yaml"
    command="load" />    

  </node>

</launch>
