<launch>

  <!--  Sensor Coverage  -->
  <node pkg="pandora_sensor_coverage" type="pandora_sensor_coverage_node"              
      name="sensor_coverage" respawn="false" output="screen" ns="exploration" /> 

  <rosparam file="$(find pandora_sensor_coverage)/config/sensor_coverage/sensor_coverage_params.yaml" 
    command="load" ns="exploration/sensor_coverage" /> 

  <!-- Perfect octomap 
  <include file="$(find pandora_slam_3d)/launch/perfect_octomap.launch" />
  -->

</launch>

