<launch>
  <arg name="namespace" default="xmega" />

  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_xmega_hardware_interface)/config/power_supply_controller.yaml"
    ns = "$(arg namespace)"/>

  <!-- spawn controller -->
  <node
    name="power_supply_controller_spawner"
    pkg="controller_manager"
    type="spawner" output="screen"
    args="power_supply_controller"
    ns = "$(arg namespace)"/>
</launch>
