<?xml version="1.0"?>

<robot name="woody"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_robots_description)/urdf/woody/woody.urdf.xacro" />
  <!-- ==================================================================== -->
  
  <xacro:woody_urdf fixed="false" />

<!-- ###################################################################### -->

</robot>
