<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >
  
  <!-- Sensors ############################################################ -->
  <xacro:property name="enable_laser_sensor" value="true" />
  <xacro:property name="enable_kinect_sensor" value="true" />
  <xacro:property name="enable_flir_sensor" value="true" />
  <xacro:property name="enable_left_camera_sensor" value="true" />
  <xacro:property name="enable_right_camera_sensor" value="true" />
  <xacro:property name="enable_left_sonar_sensor" value="true" />
  <xacro:property name="enable_right_sonar_sensor" value="true" />
  <xacro:property name="enable_thermal_sensor" value="false" />
  <xacro:property name="enable_co2_sensor" value="true" />
  <xacro:property name="enable_microphone_sensor" value="false" />

  <!-- Joint Physics ###################################################### -->
  <xacro:property name="side_joint_type" value="revolute" />
  <xacro:property name="wheel_joint_type" value="continuous" />
  
  <xacro:property name="side_joint_damping" value="0.0" />
  <xacro:property name="wheel_joint_damping" value="0.0" />
  
  <xacro:property name="side_joint_min_limit" value="-0.785" />
  <xacro:property name="side_joint_max_limit" value="0.785" />
  <xacro:property name="laser_roll_joint_min_limit" value="-0.523" />
  <xacro:property name="laser_roll_joint_max_limit" value="0.523" />
  <xacro:property name="laser_pitch_joint_min_limit" value="-0.523" />
  <xacro:property name="laser_pitch_joint_max_limit" value="0.523" />
  <xacro:property name="kinect_pitch_joint_min_limit" value="-0.785" />
  <xacro:property name="kinect_pitch_joint_max_limit" value="0.785" />
  <xacro:property name="kinect_yaw_joint_min_limit" value="-1.308" />
  <xacro:property name="kinect_yaw_joint_max_limit" value="1.308" />

  <!-- TODO: Coefficients ################################################# -->
  <xacro:property name="max_robot_linear_velocity" value="2.0" />
  <xacro:property name="max_robot_angular_velocity" value="2.0" />
  <xacro:property name="max_kinect_angular_velocity" value="2.5" />
  <xacro:property name="max_laser_angular_velocity" value="2.5" />
  
  <xacro:property name="max_robot_linear_acceleration" value="1.0" />
  <xacro:property name="max_robot_angular_acceleration" value="0.2" />
  <xacro:property name="max_kinect_angular_acceleration" value="0.0" />
  <xacro:property name="max_laser_angular_acceleration" value="0.0" />

  <!-- Dimensions ######################################################### -->
  <xacro:property name="wheel_length" value="0.07985" />
  <xacro:property name="wheel_radius" value="0.09794" />
  
  <xacro:property name="track" value="0.344" />
  <xacro:property name="wheelbase" value="0.34678" />

</robot>
