<launch>
  
  <!--Alert handler-->
  <node name="alert_handler" type="alert_handler_node" pkg="pandora_alert_handler"  
    respawn="false" output="screen" ns="data_fusion/alert_handler"/>
  <rosparam file="$(find pandora_alert_handler)/config/alert_handler/alert_handler_topics.yaml" 
    command="load" ns="data_fusion/alert_handler"/>

</launch>
