<launch>

  <!--  Alert Handler  -->
  <!-- <env name="ROSCONSOLE_CONFIG_FILE"                                                       -->
  <!--   value="$(find pandora_alert_handler)/config/pandora_alert_handler/logger_debug.cfg" /> -->
  <node type="pandora_alert_handler_node" name="pandora_alert_handler"
      pkg="pandora_alert_handler" respawn="false" output="screen" ns="/pandora_data_fusion" >
      <!-- launch-prefix="gdb -ex run" > -->
    <rosparam file="$(find pandora_alert_handler)/config/pandora_alert_handler/alert_handler_params.yaml"
        command="load" />
  </node>

</launch>
