<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="side_joint"
               params="prefix_y reflect_y" >
    <joint name="${prefix_y}_side_joint"
           type="${side_joint_type}" >
           
      <parent link="base_link" />
      <child link="${prefix_y}_side_link" />
      <origin xyz="0.0 ${ reflect_y * ( 0.10314 ) } 0.0"
              rpy="${zero}" />
      <axis xyz="0 1 0" />
      <dynamics damping="${side_joint_damping}" />
      <limit lower="${side_joint_min_limit}"
             upper="${side_joint_max_limit}"
             effort="150.0"
             velocity="150.0" />
             
    </joint>
  </xacro:macro>

</robot>
