<launch>

  <param name="/use_sim_time" value="true"/> 

  <!--<env name="ROSCONSOLE_CONFIG_FILE" -->
    <!--value="$(find pandora_alert_handler)/config/alert_handler/logger_debug.cfg"/>-->
  <include file="$(find pandora_data_fusion_launchers)/launch/data_fusion_stand_alone.launch" /> 
  <!--<include file="$(find pandora_vision_hole)/launch/hole_find_node.launch" />-->

  <node pkg="rosbag" type="play" name="player" output="screen"
    args="--clock $(find pandora_alert_handler)/test/functional/saloon_2014-04-27-20-30-41.bag" /> 

  <!--<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/vision/image raw out:=/camera_head/image_raw" />-->

  <!--<node name="data_fusion_object_visualization" type="data_fusion_object_visualization"-->
  <!--  pkg="pandora_visualization" respawn="true" ns="data_fusion" />                     -->

  <!--<include file="$(find pandora_visualization)/launch/rviz/rviz.launch" />             -->

  <test test-name="AlertHandlerTest" pkg="pandora_alert_handler"
    type="alert_handler_test.py"/>

</launch>
