<launch>

  <node pkg="map_server" type="map_server" name="static_map_publisher"
    args="$(find pandora_alert_handler)/test/test_maps/map1.yaml"/>
  
  <node pkg="tf" type="static_transform_publisher" 
    name="world2headCamera" args="1 1 1 0 0 0  /world headCamera 100" />

  <node pkg="tf" type="static_transform_publisher" 
    name="world2map" args="0 0 0 0 0 0 /world /map 100" />

  <include file="$(find pandora_data_fusion_launchers)/launch/data_fusion_stand_alone.launch" /> 
  
  <test test-name="AlertHandlerStatic" pkg="pandora_alert_handler"
    type="alert_handler_static_test.py"/>

</launch>
