<launch>

  <param name="/use_sim_time" value="true"/> 

  <!--<env name="ROSCONSOLE_CONFIG_FILE"                                             -->
  <!--  value="$(find pandora_alert_handler)/config/alert_handler/logger_debug.cfg"/>-->
  <include file="$(find pandora_alert_handler)/launch/alert_handler.launch" /> 

  <node pkg="rosbag" type="play" name="player" output="screen"
    args="--clock $(find pandora_alert_handler)/test/functional/saloon_2014-04-27-20-30-41.bag" >
    <remap from="/vision/hole_direction" to="/vision/holes_direction" />
  </node>

  <test test-name="AlertHandlerTest" pkg="pandora_alert_handler"
    type="alert_handler_test.py"/>

</launch>
