<launch>

  <include file="$(find pandora_vision_launchers)/launch/usb_cam.launch" >
    <arg name="camID" value="/dev/video1"/>
    <arg name="name" value="kinect"/>
    <arg name="topic_name" value="/kinect/image"/>
    <arg name="frame_id" value="kinect_link"/>
  </include>
  
  <group ns="vision">
      

    <include file="$(find pandora_vision_hole_detector)/launch/pandora_vision_hole_detector2.launch" />
    <include file="$(find pandora_vision_qrcode)/launch/qrcode_node.launch" />
    <include file="$(find pandora_vision_hazmat)/launch/hazmat_node.launch" />
    <include file="$(find pandora_vision_landoltc)/launch/landoltc_node.launch" />
    <include file="$(find pandora_vision_motion)/launch/motion_node.launch" />
    <include file="$(find pandora_vision_face)/launch/face_node.launch" />
    <include file="$(find pandora_vision_datamatrix)/launch/datamatrix_node.launch" />
  
  </group>
  
</launch>

