<launch>
  <arg name="vision_cameras" default="true"/>
  <arg name="vision_nodes" default="true"/>
  <arg name="camera_left" default="false"/>
  <arg name="camera_right" default="false"/>
  <arg name="xtion" default="true"/>
  <arg name="vision_qr" default="true"/>
  <arg name="vision_hazmat" default="true"/>
  <arg name="vision_landoltc" default="true"/>
  <arg name="vision_motion" default="true"/>
  <arg name="vision_datamatrix" default="false"/>
  <arg name="vision_landoltc3d" default="false"/>
  <arg name="vision_predator" default="false"/>
  <arg name="vision_hole_detector" default="true"/>
  <arg name="vision_hole_exploration" default="false"/>
  <arg name="vision_victim" default="true"/>


  <!-- Cameras -->
  <group if="$(arg vision_cameras)">
    <include file="$(find pandora_vision_launchers)/launch/vision_cameras.launch" >
      <arg name="camera_left" value="$(arg camera_left)" />
      <arg name="camera_right" value="$(arg camera_right)" />
      <arg name="xtion" value="$(arg xtion)" />
    </include>
  </group>

  <!-- Vision Nodes -->
  <group if="$(arg vision_nodes)" >
    <!-- OK -->
    <include if="$(arg vision_qr)"
      file="$(find pandora_vision_qrcode)/launch/qrcode_node.launch" />
    <!-- OK -->
    <include if="$(arg vision_hazmat)"
      file="$(find pandora_vision_hazmat)/launch/hazmat_node.launch" />
    <!-- OK -->
    <include if="$(arg vision_landoltc)"
      file="$(find pandora_vision_landoltc)/launch/landoltc_2d_node.launch" />
    <include if="$(arg vision_datamatrix)"
     file="$(find pandora_vision_datamatrix)/launch/datamatrix_node.launch" />

    <include if="$(arg vision_motion)"
     file="$(find pandora_vision_motion)/launch/pandora_vision_motion_node.launch" />
    <include if="$(arg vision_landoltc3d)"
     file="$(find pandora_vision_landoltc)/launch/predator-landoltc3d.launch" />
    <include if="$(arg vision_predator)"
     file="$(find pandora_vision_predator)/launch/predator_node.launch" />
    <include if="$(arg vision_hole_detector)"
     file="$(find pandora_vision_hole)/launch/pandora_vision_hole.launch" />
    <include if="$(arg vision_hole_exploration)"
     file="$(find pandora_vision_hole_exploration)/launch/pandora_vision_hole_exploration.launch" />
    <include if="$(arg vision_victim)"
     file="$(find pandora_vision_victim)/launch/victim_node.launch" />

  </group>
</launch>

