<launch>

  <include file="$(find pandora_vision_launchers)/launch/usb_cam.launch" >
    <arg name="camID" value="/dev/video1"/>
    <arg name="name" value="camera_left"/>
    <arg name="topic_name" value="camera_left/image"/>
    <arg name="frame_id" value="camera_left_link"/>
  </include>
  
  <include file="$(find pandora_vision_launchers)/launch/usb_cam.launch" >
    <arg name="camID" value="/dev/video0"/>
    <arg name="name" value="camera_right"/>
    <arg name="topic_name" value="camera_right/image"/>
    <arg name="frame_id" value="camera_right_link"/>
  </include>
      
   <include file="$(find openni_launch)/launch/openni.launch" >
    <arg name="camera" value="kinect" />
    <arg name="publish_tf" value="false" />
    <arg name="depth_registration" value="true" />
  </include>
  
  <param name="kinect/topic_name" value="/kinect/rgb/image_raw" />
  
  <group ns="vision">
      
    <include file="$(find pandora_vision_qrcode)/launch/qrcode_node.launch" />
    <include file="$(find pandora_vision_hazmat)/launch/hazmat_node.launch" />
    <include file="$(find pandora_vision_landoltc)/launch/landoltc_node.launch" />
    <include file="$(find pandora_vision_motion)/launch/motion_node.launch" />
    <include file="$(find pandora_vision_datamatrix)/launch/datamatrix_node.launch" />
    <include file="$(find pandora_vision_landoltc)/launch/predator-landoltc3d.launch" />
<!--
    <include file="$(find pandora_vision_predator)/launch/predator_node.launch" />
-->
    
  </group>
  
</launch>

