<launch>

  <include file="$(find state_manager)/launch/stateManager.launch" />

  <node pkg="pandora_sensor_processing" type="co2_node" name="co2_processor"
    output="screen" ns="sensor_processing" />
    
  <rosparam file="$(find pandora_sensor_processing)/config/sensor_processing/co2_processor_test_topic_names.yaml" command="load" ns="sensor_processing/co2_processor"/>
  
  <test test-name="Co2ProcessorTest" pkg="pandora_sensor_processing"
    type="co2_processor_test.py"/>

</launch>

