<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Math Constants ####################################################### -->

  <!-- ==================================================================== -->
  <xacro:property name="PI" value="3.1415926535897931" />
  <!-- ==================================================================== -->
  <xacro:property name="PI_2" value="1.570796327" />
  <!-- ==================================================================== -->
  <xacro:property name="PI_3" value="1.047197551" />
  <!-- ==================================================================== -->
  <xacro:property name="PI_4" value="0.785398163" />
  <!-- ==================================================================== -->
  <xacro:property name="PI_6" value="0.523598776" />
  <!-- ==================================================================== -->
  <xacro:property name="positive_infinity" value="1.0E18" />
  <!-- ==================================================================== -->
  <xacro:property name="negative_infinity" value="-1.0E18" />
  <!-- ==================================================================== -->
  <xacro:property name="positive_delta" value="1.0E-18" />
  <!-- ==================================================================== -->
  <xacro:property name="negative_delta" value="-1.0E-18" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
