<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:property name="zero" value="0.0 0.0 0.0" />
  
  <xacro:macro name="default_origin" >
    <origin xyz="${zero}"
            rpy="${zero}" />
  </xacro:macro>
  
  <xacro:macro name="infinite_mass" >
    <mass value="${positive_infinity}" />
  </xacro:macro>
  
  <xacro:macro name="delta_mass" >
    <mass value="${positive_delta}" />
  </xacro:macro>
  
  <xacro:macro name="unit_inertia" >
    <inertia ixx="1.0"
             ixy="1.0"
             ixz="1.0"
             iyy="1.0"
             iyz="1.0"
             izz="1.0" />
  </xacro:macro>
  
  <xacro:macro name="unit_axis_inertia" >
    <inertia ixx="1.0"
             ixy="0.0"
             ixz="0.0"
             iyy="1.0"
             iyz="0.0"
             izz="1.0" />
  </xacro:macro>

  <!-- 3D Inertial Objects ################################################ -->

  <xacro:macro name="solid_sphere_inertial"
               params="mass radius" >
    <inertial>
      <mass value="${mass}" />
      <xacro:default_origin />
      <inertia ixx="${ ( 2 / 5 ) * mass * ( radius * radius ) }"
               ixy="0.0"
               ixz="0.0"
               iyy="${ ( 2 / 5 ) * mass * ( radius * radius ) }"
               iyz="0.0"
               izz="${ ( 2 / 5 ) * mass * ( radius * radius ) }" />
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="solid_cuboid_inertial"
               params="mass width height depth" >
    <inertial>
      <mass value="${mass}" />
      <xacro:default_origin />
      <inertia ixx="${ ( 1 / 12 ) * mass * ( ( height * height ) + ( depth * depth ) ) }"
               ixy="0.0"
               ixz="0.0"
               iyy="${ ( 1 / 12 ) * mass * ( ( width * width ) + ( depth * depth ) ) }"
               iyz="0.0"
               izz="${ ( 1 / 12 ) * mass * ( ( width * width ) + ( height * height ) ) }" />
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="solid_cylinder_inertial"
               params="mass radius height" >
    <inertial>
      <mass value="${mass}" />
      <xacro:default_origin />
      <inertia ixx="${ ( 1 / 12 ) * mass * ( 3 * ( radius * radius ) + ( height * height ) ) }"
               ixy="0.0"
               ixz="0.0"
               iyy="${ ( 1 / 12 ) * mass * ( 3 * ( radius * radius ) + ( height * height ) ) }"
               iyz="0.0"
               izz="${ ( 1 / 2 ) * mass * ( radius * radius ) }" />
    </inertial>
  </xacro:macro>

</robot>
