<?xml version="1.0"?>

<robot>

  <material name="white" >
    <color rgba="${255/255} ${255/255} ${255/255} 1.0" />
  </material>
  <material name="black" >
    <color rgba="${0/255} ${0/255} ${0/255} 1.0" />
  </material>
  <material name="red" >
    <color rgba="${204/255} ${0/255} ${0/255} 1.0" />
  </material>
  <material name="green" >
    <color rgba="${0/255} ${204/255} ${0/255} 1.0" />
  </material>
  <material name="blue" >
    <color rgba="${0/255} ${0/255} ${204/255} 1.0" />
  </material>

  <material name="solidworks_default" >
    <color rgba="${192/255} ${192/255} ${192/255} 1.0" />
  </material>
  <material name="base" >
    <color rgba="${0/255} ${0/255} ${0/255} 1.0" />
  </material>
  <material name="side" >
    <color rgba="${0/255} ${0/255} ${0/255} 1.0" />
  </material>
  <material name="wheel" >
    <color rgba="${5/255} ${5/255} ${0/255} 1.0" />
  </material>

</robot>
