<launch>
    
    <node name="hazmat_node" type="hazmat_node" pkg="pandora_vision_hazmat" respawn="False" output="screen" />
    <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
    
    <rosparam file="$(find pandora_vision_hazmat)/config/hazmat_topics.yaml" 
    command="load" ns="hazmat"/>
    
  <rosparam file="$(find pandora_vision_support)/config/camera_params.yaml" 
    command="load" ns="hazmat"/>

</launch>
