<launch>
    
  <node name="hazmat_node" type="pandora_vision_hazmat_node" pkg="pandora_vision_hazmat"
    respawn="False" ns="/pandora_vision"/>
  <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
  
  <rosparam file="$(find pandora_vision_hazmat)/config/pandora_vision_hazmat/hazmat_topics.yaml"
    command="load" ns="/pandora_vision/pandora_vision_hazmat"/> 
  <rosparam file="$(find pandora_vision_hazmat)/config/pandora_vision_hazmat/hazmat_params.yaml"
    command="load" ns="/pandora_vision/hazmat_node/detector"/> 

</launch>
