<launch>
  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_motor_hardware_interface)/motor_controllers/config/motor_hardware_interface.yaml"
    ns="/motor"/>

  <!-- spawn controller -->
  <node
    name="motor_controller_spawner"
    pkg="controller_manager"
    type="spawner" output="screen"
    ns="/motor"
    args="
      joint_state_controller
      skid_steer_drive_controller" />
</launch>
