<launch>
  <arg name="robot" default="gio" />
  <arg name="namespace" default="motor" />

  <arg name="sim" default="false" />
  <param name="/sim" value="$(arg sim)" />
  <arg name="rl" default="true" />
  <param name="/using_rl" value="$(arg rl)" />

  <rosparam
    command="load"
    file="$(find pandora_motor_hardware_interface)/motor_controllers/config/skid_steer_velocity_controller.yaml"
    ns="$(arg namespace)"/>

  <param
    name="robot_description"
    command="$(find xacro)/xacro.py '$(find pandora_robots_description)/$(arg robot)/urdf/$(arg robot).urdf.xacro'"/>

  <!-- spawn velocity controller -->
  <node
    name="skid_steer_velocity_controller_spawner"
    pkg="controller_manager"
    type="controller_manager" output="screen"
    ns="$(arg namespace)"
    args="spawn skid_steer_velocity_controller" />
</launch>
