<launch>
  <arg name="namespace" default="motor" />

  <rosparam
    command="load"
    file="$(find pandora_motor_hardware_interface)/motor_controllers/config/skid_steer_drive_controller.yaml"
    ns="$(arg namespace)"/>

  <param
    name="robot_description"
    command="$(find xacro)/xacro.py '$(find pandora_robots_description)/urdf/gears/bringup.urdf.xacro'"/>

  <!-- spawn controller -->
  <node
    name="skid_steer_drive_controller_spawner"
    pkg="controller_manager"
    type="spawner" output="screen"
    ns="$(arg namespace)"
    args="
      skid_steer_drive_controller" />
</launch>
