<launch>
  <arg name="robot" default="woody" />
  <arg name="namespace" default="motor" />

  <rosparam
    command="load"
    file="$(find pandora_motor_hardware_interface)/motor_controllers/config/skid_steer_torque_controller.yaml"
    ns="$(arg namespace)"/>

  <param
    name="robot_description"
    command="$(find xacro)/xacro.py '$(find pandora_robots_description)/urdf/$(arg robot)/bringup.urdf.xacro'"/>

  <!-- spawn controller -->
  <node
    name="skid_steer_torque_controller_spawner"
    pkg="controller_manager"
    type="controller_manager" output="screen"
    ns="$(arg namespace)"
    args="spawn skid_steer_torque_controller" />
</launch>
