<launch>

  <node pkg="map_server" type="map_server" name="static_map_publisher"
    args="$(find pandora_integration_testing)/test/test_maps/half_unknown.yaml"/>
  
  <node pkg="tf" type="static_transform_publisher" 
    name="world2headCamera" args="1 2 1 -1.574 0 0 /map headCamera 100" />
  <node pkg="tf" type="static_transform_publisher" 
    name="headCamera2Basefootprint" args="0 0 -1 0 0 0 headCamera /base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" 
    name="world2map" args="0 0 0 0 0 0 /world /map 100" />

  <include file="$(find pandora_data_fusion_launchers)/launch/data_fusion_standalone.launch" />
  <rosparam param="subscribed_topic_names/map" ns="data_fusion/alert_handler">/map</rosparam>

  <include file="$(find pandora_exploration)/launch/explorer.launch" /> 
  <rosparam param="static/map_topic" ns="explore_costmap">/map</rosparam>

  <node pkg="pandora_fsm" type="robocup_agent.py" name="agent" output="screen" />

  <test test-name="AgentExplorerTest" pkg="pandora_integration_testing"
    type="agent_explorer_test.py" time-limit="180" />

</launch>
