<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find pandora_control)/config/pandora_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
<!--
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
  </node>
-->
  
  <include file="$(find pandora_control)/launch/kinect_control.launch" />
  
<!--
  <include file="$(find pandora_control)/launch/stabilizer_control.launch" />
-->
  
</launch>
