<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_sensors_description)/urdf/co2.urdf.xacro" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="co2_sensor" >
  
    <xacro:co2_caster parent="linear_head_main_link" >

      <origin xyz="0.00915 -0.05293 0.05251"
              rpy="${zero}" />

    </xacro:co2_caster>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
