<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_sensors_description)/urdf/kinect_camera.urdf.xacro" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="kinect_sensor"
               params="fixed" >
               
    <xacro:kinect_caster parent="linear_elevator_link"
                         fixed="${fixed}"
                         pitch_min_limit="${kinect_pitch_joint_min_limit}" 
                         pitch_max_limit="${kinect_pitch_joint_max_limit}" 
                         yaw_min_limit="${kinect_yaw_joint_min_limit}" 
                         yaw_max_limit="${kinect_yaw_joint_max_limit}" >

      <origin xyz="0.06744 0.01239 0.19742"
              rpy="${zero}" />

    </xacro:kinect_caster>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
