<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_sensors_description)/urdf/microphone_sensor.urdf.xacro" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

  <xacro:macro name="microphone_sensor" >
  
    <xacro:microphone_caster parent="linear_head_main_link" >

      <origin xyz="0.00915 -0.02181 0.05251"
              rpy="${zero}" />

    </xacro:microphone_caster>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
