<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_sensors_description)/urdf/sonar.urdf.xacro" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="linear_sonar_sensor" >
  
    <xacro:sonar_caster name="linear"
                        parent="linear_elevator_link" >

      <origin xyz="0.0195 -0.0051 0.3270"
              rpy="${zero}" />

    </xacro:sonar_caster>
    
  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="left_sonar_sensor" >
  
    <xacro:sonar_caster name="left"
                        parent="base_link" >

      <origin xyz="-0.15026 0.06429 0.39925"
              rpy="0.0 0.0 ${ 5 * PI_6 }" />

    </xacro:sonar_caster>
    
  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="right_sonar_sensor" >
  
    <xacro:sonar_caster name="right"
                        parent="base_link" >

      <origin xyz="-0.15026 -0.06429 0.39925"
              rpy="0.0 0.0 ${ 7 * PI_6 }" />

    </xacro:sonar_caster>
    
  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
