<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:include filename="$(find pandora_sensors_description)/urdf/thermal_sensor.urdf.xacro" />
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="middle_thermal_sensor" >
  
    <xacro:thermal_caster parent="linear_head_main_link"
                          prefix_y="middle" >

      <origin xyz="0.00915 -0.0373 0.07397"
              rpy="${zero}" />

    </xacro:thermal_caster>
    
  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="left_thermal_sensor" >
  
    <xacro:thermal_caster parent="linear_head_main_link"
                          prefix_y="left" >

      <origin xyz="-0.00252 0.01037 0.05973"
              rpy="0 0 ${PI_3}" />

    </xacro:thermal_caster>
    
  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="right_thermal_sensor" >
  
    <xacro:thermal_caster parent="linear_head_main_link"
                          prefix_y="right" >

      <origin xyz="-0.00252 -0.08511 0.05973"
              rpy="0 0 ${-PI_3}" />

    </xacro:thermal_caster>
    
  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
