<launch>
  
  <arg name="bag" default="false"/>
  
  <!--State Manager -->	
  <include file="$(find state_manager)/launch/stateManager.launch" /> 
  
  <!-- Slam -->
  <include file="$(find pandora_slam_2d)/launch/pandora_slam_2d_real.launch" />
  <include file="$(find pandora_pose_estimation)/launch/pose_estimation_5_dof.launch" />
  
  <!--Autonomous Navigation Launch -->
  <include file="$(find pandora_move_base)/launch/move_base.launch" />
  <include file="$(find pandora_target_selector)/launch/target_selector.launch" />
  
  <!--Data fusion -->
  <include file="$(find pandora_data_fusion_launchers)/launch/data_fusion.launch" />
  
    
  <!--Vision-->  
<!--
  <include file="$(find vision)/launch/all_nodes.launch" />
-->
  
  <group if="$(arg bag)">
    <node name="bag" type="record" pkg="rosbag" 
        args="/vision/image/compressed " />
  </group>
  
</launch>
