<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/sonar/urdf/*.urdf.xacro" />
  
  <xacro:macro name="linear_sonar" >
    <xacro:devantech_srf05 name="linear"
                           parent="linear_elevator_link" >
      <origin xyz="0.0195 -0.0051 0.3270"
              rpy="0.0 0.0 ${ PI }" />
    </xacro:devantech_srf05>
  </xacro:macro>
  
  <xacro:macro name="left_sonar" >
    <xacro:devantech_srf05 name="left"
                           parent="base_link" >
      <origin xyz="-0.15026 0.06429 0.39925"
              rpy="0.0 0.0 ${ -PI_6 }" />
    </xacro:devantech_srf05>
  </xacro:macro>
  
  <xacro:macro name="right_sonar" >
    <xacro:devantech_srf05 name="right"
                           parent="base_link" >
      <origin xyz="-0.15026 -0.06429 0.39925"
              rpy="0.0 0.0 ${ PI_6 }" />
    </xacro:devantech_srf05>
  </xacro:macro>

</robot>
