<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:include filename="$(find pandora_sensors_description)/temperature/urdf/*.urdf.xacro" />
  
  <xacro:macro name="middle_temperature" >
    <xacro:panasonic_grid_eye parent="linear_head_main_link"
                              prefix_y="middle" >
      <origin xyz="0.01575 -0.0614 0.08243"
              rpy="${-PI_2} 0 0" />
    </xacro:panasonic_grid_eye>
  </xacro:macro>
  
  <xacro:macro name="left_temperature" >
    <xacro:panasonic_grid_eye parent="linear_head_main_link"
                              prefix_y="left" >
      <origin xyz="0.00076 0.01607 0.05800"
              rpy="0 0 ${PI_3}" />
    </xacro:panasonic_grid_eye>
  </xacro:macro>
  
  <xacro:macro name="right_temperature" >
    <xacro:panasonic_grid_eye parent="linear_head_main_link"
                              prefix_y="right" >
      <origin xyz="0.00076 -0.09086 0.05800"
              rpy="0 0 ${-PI_3}" />
    </xacro:panasonic_grid_eye>
  </xacro:macro>

</robot>
