<!--State Manager -->
<launch>
  <node name="stateServer" type="state_server" pkg="state_manager" respawn="true" />
<!--
  <include file="$(find watchdog)/launch/watchdog.launch" />
-->
<!--
  <node name="node_state_monitor" type="node_state_monitor" pkg="state_manager" respawn="true" />
-->

</launch>
