<launch>
  <arg name="namespace" default="arm" />

  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_arm_hardware_interface)/arm_controllers/config/co2_sensor_controller.yaml"
    ns = "$(arg namespace)"/>

  <rosparam
    command="load"
    file="$(find pandora_arm_hardware_interface)/arm_controllers/config/thermal_sensor_controller.yaml"
    ns = "$(arg namespace)"/>

  <!-- spawn controllers -->
  <node
    name="arm_controller_spawner"
    pkg="controller_manager"
    type="spawner" output="screen"
    args="co2_sensor_controller thermal_sensor_controller"
    ns = "$(arg namespace)"/>
</launch>
