<launch>
  <arg name="namespace" default="arm" />

  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_arm_hardware_interface)/arm_controllers/config/co2_sensor_controller.yaml"
    ns = "$(arg namespace)"/>

  <rosparam
    command="load"
    file="$(find pandora_arm_hardware_interface)/arm_controllers/config/range_sensor_controller.yaml"
    ns = "$(arg namespace)"/>

  <rosparam
    command="load"
    file="$(find pandora_arm_hardware_interface)/arm_controllers/config/battery_controller.yaml"
    ns = "$(arg namespace)"/>

  <!-- spawn controllers -->
  <node
    name="arm_controller_spawner"
    pkg="controller_manager"
    type="controller_manager" output="screen"
    args="
      spawn
      arm_co2_sensor_controller
      arm_range_sensor_controller
      arm_battery_controller"
    ns = "$(arg namespace)"/>
</launch>
