<launch>
  <arg name="namespace" default="arm" />

  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_arm_hardware_interface)/arm_controllers/config/thermal_sensor_controller.yaml"
    ns = "$(arg namespace)"/>

  <!-- spawn controller -->
  <node
    name="arm_thermal_sensor_controller_spawner"
    pkg="controller_manager"
    type="controller_manager" output="screen"
    args="spawn
          arm_thermal_sensor_controller"
    ns = "$(arg namespace)"/>
</launch>
