<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="linear_head_pitch_joint"
               params="fixed" >

    <!-- ================================================================== -->
    <xacro:if value="${fixed}" >
    
      <joint name="linear_head_pitch_joint"
             type="fixed" >
             
        <!-- ============================================================== -->
        <parent link="linear_elevator_link" />
        <child link="linear_head_base_link" />
        <!-- ============================================================== -->
        <origin xyz="-0.0145 0.0686 0.35787"
                rpy="${zero}" />
        <!-- ============================================================== -->

      </joint>
      
    </xacro:if>
    <!-- ================================================================== -->
    <xacro:unless value="${fixed}" >
    
      <joint name="linear_head_pitch_joint"
             type="${linear_head_pitch_joint_type}" >

        <!-- ============================================================== -->
        <parent link="linear_elevator_link" />
        <child link="linear_head_base_link" />
        <!-- ============================================================== -->
        <origin xyz="-0.0145 0.0686 0.35787"
                rpy="${zero}" />
        <!-- ============================================================== -->
        <axis xyz="0 1 0" />
        <!-- ============================================================== -->
        <!-- <calibration rising="0.0"
                          falling="0.0" /> -->
        <!-- ============================================================== -->
        <dynamics damping="${linear_head_pitch_joint_damping}" />
             <!-- friction="0.0" /> --> 
        <!-- ============================================================== -->
        <limit lower="${linear_head_pitch_joint_min_limit}"
               upper="${linear_head_pitch_joint_max_limit}"
               effort="50.0"
               velocity="50.0" />
        <!-- ============================================================== -->
        <!-- <safety_controller soft_lower_limit="0.0"
                                soft_upper_limit="0.0"
                                k_position="0.0"
                                k_velocity="0.0" /> -->
        <!-- ============================================================== -->

      </joint>
      
    </xacro:unless>
    <!-- ================================================================== -->
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
