<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="wheel_joint"
               params="prefix_y prefix_x reflect_y reflect_x" >
               
    <joint name="${prefix_y}_${prefix_x}_wheel_joint"
           type="${wheel_joint_type}" >

      <!-- ================================================================ -->
      <parent link="${prefix_y}_side_link" />
      <child link="${prefix_y}_${prefix_x}_wheel_link" />
      <!-- ================================================================ -->
      <origin xyz="${ reflect_x * ( 0.198785 ) } ${ reflect_y * ( 0.06886 ) } -0.052795"
              rpy="${zero}" />
      <!-- ================================================================ -->
      <axis xyz="0 1 0" />
      <!-- ================================================================ -->
      <!-- <calibration rising="0.0"
                        falling="0.0" /> -->
      <!-- ================================================================ -->
      <!-- <dynamics damping="0.0"
                     friction="0.0" /> --> 
      <!-- ================================================================ -->
      <limit effort="100.0"
             velocity="100.0" />
        <!-- lower="-0.0" -->
        <!-- upper="0.0" -->
      <!-- ================================================================ -->
      <!-- <safety_controller soft_lower_limit="0.0"
                              soft_upper_limit="0.0"
                              k_position="0.0"
                              k_velocity="0.0" /> -->
      <!-- ================================================================ -->

    </joint>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
