<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="base_link" >
  
    <link name="base_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="-0.010032 -0.0067035 0.12451" />
        <!-- ============================================================== -->
        <mass value="8.6373" />
        <!-- ============================================================== -->
        <inertia ixx="0.11754"
                 ixy="0.0039217"
                 ixz="0.0053416"
                 iyy="0.12773"
                 iyz="-0.0039963"
                 izz="0.10593" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <xacro:default_origin />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/visual/base/base_link.dae" />
        </geometry>
        <!-- ============================================================== -->
        <material name="base" />
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <xacro:default_origin />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/collision/base/base_link.stl" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
