<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="linear_head_base_link" >
  
    <link name="linear_head_base_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.00152 0.02409" />
        <!-- ============================================================== -->
        <mass value="0.005" /><!--FIXME-->
        <!-- ============================================================== -->
        <inertia ixx="1.0E-6"
                 ixy="0"
                 ixz="0"
                 iyy="1.0E-6"
                 iyz="0"
                 izz="1.0E-6" /><!--FIXME-->
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="${zero}"
                rpy="0.0 ${-PI_2} ${-PI_2}" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/visual/linear/head/servo_motor.dae" />
        </geometry>
        <!-- ============================================================== -->
        <material name="linear_head_base" />
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="0.0 0.00152 0.02409"
                rpy="0.0 ${-PI_2} ${-PI_2}" />
        <!-- ============================================================== -->
        <geometry>
          <box size="0.050 0.032 0.041" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
