<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="linear_head_main_link" >
  
    <link name="linear_head_main_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="-0.00329 -0.02726 0.05623" />
        <!-- ============================================================== -->
        <mass value="0.16491" />
        <!-- ============================================================== -->
        <inertia ixx="0.00030418"
                 ixy="-1.3735E-05"
                 ixz="-2.3947E-05"
                 iyy="0.00015881"
                 iyz="-7.9817E-06"
                 izz="0.00024855" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <xacro:default_origin />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/visual/linear/head/linear_head_main_link.dae" />
        </geometry>
        <!-- ============================================================== -->
        <material name="linear_head_main" />
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <xacro:default_origin />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/collision/linear/head/linear_head_main_link.stl" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
