<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="linear_elevator_link" >
  
    <link name="linear_elevator_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="0.017561 0.0109 0.24001" />
        <!-- ============================================================== -->
        <mass value="0.92399" />
        <!-- ============================================================== -->
        <inertia ixx="0.0097139"
                 ixy="-0.00039516"
                 ixz="-0.00086264"
                 iyy="0.0095873"
                 iyz="0.0012764"
                 izz="0.0017829" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <xacro:default_origin />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/visual/linear/elevator/linear_elevator_link.dae" />
        </geometry>
        <!-- ============================================================== -->
        <material name="linear_elevator" />
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <xacro:default_origin />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/collision/linear/elevator/linear_elevator_link.stl" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>
    
  </xacro:macro>
  
<!-- ###################################################################### -->

</robot>
