<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="side_link"
               params="prefix_y reflect_y" >
               
    <link name="${prefix_y}_side_link" >

      <inertial>
        <!-- ============================================================== -->
        <origin xyz="${ reflect_y * ( -9.2074E-08 ) } ${ reflect_y * ( 0.010782 ) } -0.028501" />
        <!-- ============================================================== -->
        <mass value="0.93539" />
        <!-- ============================================================== -->
        <inertia ixx="0.001211"
                 ixy="-4.0495E-05"
                 ixz="${ reflect_y * ( 1.0211E-06 ) }"
                 iyy="0.026668"
                 iyz="${ reflect_y * ( -0.00024586 ) }"
                 izz="0.026454" />
        <!-- ============================================================== -->
      </inertial>

      <visual>
        <!-- ============================================================== -->
        <origin xyz="${zero}"
                rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/visual/side/side_link.dae" />
        </geometry>
        <!-- ============================================================== -->
        <material name="side" />
        <!-- ============================================================== -->
      </visual>

      <collision>
        <!-- ============================================================== -->
        <origin xyz="${zero}"
                rpy="0.0 0.0 ${ ( 1 - reflect_y ) * PI_2 }" />
        <!-- ============================================================== -->
        <geometry>
          <mesh filename="package://pandora_robots_description/meshes/gears/collision/side/side_link.stl" />
        </geometry>
        <!-- ============================================================== -->
      </collision>

    </link>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
