<launch>
  <arg name="namespace" default="/pandora_vision/pandora_vision_obstacle" />
  <node pkg="pandora_vision_obstacle" type="pandora_vision_obstacle_dummy" name="pandora_hard_obstacle"
    output="screen" ns="$(arg namespace)">
   <rosparam file="$(find pandora_vision_obstacle)/config/hard_obstacle_detector_params.yaml"
     command="load" />
  </node>

  <!-- launch-prefix="xterm -e gdb -args" -->

</launch>

