<launch>

  <arg name="slam" default="true"/>
  <arg name="control" default="true"/>
  <arg name="navigation" default="false"/>
  <arg name="fusion" default="false"/>
  <arg name="rviz" default="true"/>

  <!-- State manager -->
  <include file="$(find state_manager)/launch/stateManager.launch" />

  <!-- Slam -->
  <group if="$(arg slam)">
    <include file="$(find pandora_slam_2d)/launch/pandora_slam_2d.launch" />
    <include file="$(find pandora_pose_estimation)/launch/pose_estimation_5_dof.launch" />
  </group>

  <!-- Control -->
  <group if="$(arg control)">
    <include file="$(find pandora_stabilizer)/launch/stabilizer_control.launch" />
    <include file="$(find pandora_end_effector_planner)/end_effector_planner/launch/end_effector_planner.launch" />
    <node name="move_eef_script" pkg="pandora_end_effector_planner" type="move_eef_script.py" args="1" />
  </group>
  
  <!-- Navigation -->
  <group if="$(arg navigation)">
    <include file="$(find pandora_move_base)/launch/move_base.launch" />
    <include file="$(find pandora_exploration)/launch/explorer.launch" />
  </group>

  <!-- Visualization -->
  <include if="$(arg rviz)" file="$(find pandora_visualization)/launch/rviz/rviz.launch" />

  <!-- Fusion -->
  <include if="$(arg fusion)" file="$(find pandora_data_fusion_launchers)/launch/data_fusion.launch" />


</launch>
