<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="base" >
    <link name="base_link" >
      <inertial>
        <origin xyz="-0.00968 -0.00122 0.17947" />
        <mass value="8.25079" />
        <inertia ixx="0.112701442"
                 ixy="-0.000233829"
                 ixz="-0.014681510"
                 iyy="0.096589855"
                 iyz="-0.000177925"
                 izz="0.083438037" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://pandora_robots_description/gears/meshes/base_link.dae" />
        </geometry>
        <material name="base" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://pandora_robots_description/gears/meshes/base_link.stl" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
