<launch>

  <node pkg="pandora_geotiff"
        type="pandora_geotiff_node"
        name="pandora_geotiff_node"
        output="screen" >

        <rosparam
          file="$(find pandora_geotiff)/config/geotiff_params.yaml"
          command="load"
        />

  </node>

  <node pkg="pandora_geotiff"
        type="objects_srv.py"
        name="DataFusionSrvMock"
        output="screen" >

  </node>

  <node pkg="tf"
        type="static_transform_publisher"
        name="map_broadcaster"
        args="1 -1 0 1.59 0 0 map data2 100" />

  <node pkg="tf"
        type="static_transform_publisher"
        name="map_broadcaster2"
        args="0 0 0 0 0 0 map data 100" />

</launch>



