<!--Autonomous Mode SLAM Launch -->
<launch>
		
	<include file="$(find slam)/launch/slam_static_simulation.launch" />
	
	<node pkg="tf" type="static_transform_publisher" 
		name="world2headCamera" args="10.26 -1.41 0 0 0 0  world headCamera 100" />
<!--
		
	<node pkg="tf" type="static_transform_publisher" 
		name="world2victim" args="0.1 4 1 0 0 0  headCamera victim 100" />
-->

	<node name="rviz" type="rviz" pkg="rviz" />
	
	<node name="pose_finder_test" type="pose_finder_test" pkg="dataFusion" />
		
</launch>
