<launch>

  <include file="$(find state_manager)/launch/stateManager.launch" />

  <arg name="openni" default="false" />

  <group if="$(arg openni)">
    <include file="$(find openni_launch)/launch/openni.launch" >
      <arg name="camera" value="kinect"/>
      <arg name="depth_registration" value="true" />
      <arg name="publish_tf" value="false" />
    </include>
  </group>

  <arg name="openni2" default="false" />

  <group if="$(arg openni2)">
    <include file="$(find openni2_launch)/launch/openni2.launch" >
      <arg name="camera" value="kinect"/>
      <arg name="depth_registration" value="true" />
      <arg name="publish_tf" value="false" />
    </include>
  </group>

  <arg name="usbcamera" default="true" />
  <arg name="camID" default="/dev/video1" />

  <group if="$(arg usbcamera)">
    <include file="$(find pandora_vision_launchers)/launch/usb_cam.launch">
      <arg name="camID" value="$(arg camID)" />
      <arg name="topic_name" value="/kinect/rgb/image_raw" />
    </include>
  </group>

  <param name="/kinect_rgb_optical_frame/hfov" value="58.0" />
  <param name="/kinect_rgb_optical_frame/vfov" value="45.0" />


  <include file="$(find pandora_vision_landoltc)/launch/landoltc_3d_node.launch" />

  <include file="$(find pandora_robots_description)/gio/launch/gio_description.launch" />
</launch>
