<launch>
    
    <node name="landoltc_3d_node" type="pandora_vision_landoltc_3d_node" pkg="pandora_vision_landoltc" respawn="False" />
    <!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
    
    <rosparam file="$(find pandora_vision_landoltc)/config/pandora_vision_landoltc/landoltc_3d_topics.yaml" 
      command="load" ns="/pandora_vision/pandora_vision_landoltc_3d"/>
    <rosparam file="$(find pandora_vision_landoltc)/config/pandora_vision_landoltc/landoltc_params.yaml" 
      command="load" ns="/pandora_vision/pandora_vision_landoltc_3d"/>
    <rosparam file="$(find pandora_vision_predator)/config/pandora_vision_landoltc/predator_params.yaml" 
      command="load" ns="/pandora_vision/pandora_vision_landoltc_3d"/>
        
    <param name="patternPath" type="str" value="$(find pandora_vision_landoltc)/bold.jpg"/>  
           
</launch>
