<launch>
  
    <node name="landoltc_node" type="landoltc_node" pkg="pandora_vision_landoltc" respawn="False" output="screen" />
    
    <rosparam file="$(find pandora_vision_landoltc)/cfg/landoltc_topics.yaml" 
        command="load" ns="landoltc"/>
        
    <rosparam file="$(find pandora_vision_landoltc)/cfg/landoltc_params.yaml" 
        command="load" ns="landoltc"/>
        
    <param name="patternPath" type="str" value="$(find pandora_vision_landoltc)/bold.jpg"/>  
       
    
</launch>
