<?xml version="1.0"?>

<robot name="gears"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Import Files -->
  <xacro:include filename="$(find pandora_urdf_properties)/xacro/*.xacro" />
  
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/urdf_configurations.xacro" />
  
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/parts/*.xacro" />
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/sensors/*.xacro" />

  <!-- Load Links & Joints -->
  <xacro:base />
  
  <xacro:side prefix_y="left" reflect_y="1" />
  <xacro:side prefix_y="right" reflect_y="-1" />
  
  <xacro:wheel prefix_y="left" prefix_x="front" reflect_y="1" reflect_x="1" />
  <xacro:wheel prefix_y="left" prefix_x="rear" reflect_y="1" reflect_x="-1" />
  <xacro:wheel prefix_y="right" prefix_x="front" reflect_y="-1" reflect_x="1" />
  <xacro:wheel prefix_y="right" prefix_x="rear" reflect_y="-1" reflect_x="-1" />

  <xacro:linear_elevator />
  <xacro:linear_head />

  <!-- Load Sensors -->
  <xacro:laser_04 />
  <xacro:kinect />
  
  <xacro:left_webcam />
  <xacro:right_webcam />
  
  <xacro:linear_sonar />
  <xacro:left_sonar />
  <xacro:right_sonar />
  
  <xacro:co2 />
  <xacro:middle_temperature />
  <xacro:left_temperature />
  <xacro:right_temperature />
  <xacro:microphone />

</robot>
