<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- ==================================================================== -->
  <xacro:macro name="robot_sdf_physics" >

    <gazebo reference="" >

      <static>${static_robot}</static>

    </gazebo>

  </xacro:macro>

<!-- Links (SDF) ########################################################## -->

  <!-- ==================================================================== -->
  <xacro:macro name="base_link_sdf_physics" >

    <gazebo reference="${base_link_name}_link" >

      <!-- <material>Gazebo/Grey</material> -->
      <!-- <gravity>false</gravity> -->
      <!-- <dampingFactor>0.0</dampingFactor> -->
      <!-- <maxVel>0.0</maxVel> -->
      <!-- <minDepth>0.0</minDepth> -->
      <!-- <mu1>0.0</mu1> -->
      <!-- <mu2>0.0</mu2> -->
      <!-- <fdir1>0 0 0</fdir1> -->
      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <selfCollide>false</selfCollide> -->
      <!-- <maxContacts>1</maxContacts> -->
      <!-- <laserRetro>0.0</laserRetro> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_link_sdf_physics" >

    <gazebo reference="${linear_elevator_link_name}_link" >

      <!-- <material>Gazebo/Grey</material> -->
      <!-- <gravity>false</gravity> -->
      <!-- <dampingFactor>0.0</dampingFactor> -->
      <!-- <maxVel>0.0</maxVel> -->
      <!-- <minDepth>0.0</minDepth> -->
      <!-- <mu1>0.0</mu1> -->
      <!-- <mu2>0.0</mu2> -->
      <!-- <fdir1>0 0 0</fdir1> -->
      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <selfCollide>false</selfCollide> -->
      <!-- <maxContacts>1</maxContacts> -->
      <!-- <laserRetro>0.0</laserRetro> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_link_sdf_physics" >

    <gazebo reference="${linear_head_link_name}_link" >

      <!-- <material>Gazebo/Grey</material> -->
      <!-- <gravity>false</gravity> -->
      <!-- <dampingFactor>0.0</dampingFactor> -->
      <!-- <maxVel>0.0</maxVel> -->
      <!-- <minDepth>0.0</minDepth> -->
      <!-- <mu1>0.0</mu1> -->
      <!-- <mu2>0.0</mu2> -->
      <!-- <fdir1>0 0 0</fdir1> -->
      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <selfCollide>false</selfCollide> -->
      <!-- <maxContacts>1</maxContacts> -->
      <!-- <laserRetro>0.0</laserRetro> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_link_sdf_physics"
               params="prefix_y" >

    <gazebo reference="${prefix_y}_${side_link_name}_link" >

      <!-- <material>Gazebo/FlatBlack</material> -->
      <!-- <gravity>false</gravity> -->
      <!-- <dampingFactor>0.0</dampingFactor> -->
      <!-- <maxVel>0.0</maxVel> -->
      <!-- <minDepth>0.0</minDepth> -->
      <!-- <mu1>0.0</mu1> -->
      <!-- <mu2>0.0</mu2> -->
      <!-- <fdir1>0 0 0</fdir1> -->
      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <selfCollide>false</selfCollide> -->
      <!-- <maxContacts>1</maxContacts> -->
      <!-- <laserRetro>0.0</laserRetro> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_link_sdf_physics"
               params="prefix_y prefix_x" >

    <gazebo reference="${prefix_y}_${prefix_x}_${wheel_link_name}_link" >

      <!-- <material>Gazebo/FlatBlack</material> -->
      <!-- <gravity>true</gravity> -->
      <!-- <dampingFactor>0</dampingFactor> -->
      <!-- <maxVel>10</maxVel> -->
      <minDepth>${wheel_min_depth}</minDepth>
      <mu1>${wheel_mu_1}</mu1>
      <mu2>${wheel_mu_2}</mu2>
      <!-- <fdir1>1 0 0</fdir1> -->
      <kp>${wheel_k_p}</kp>
      <kd>${wheel_k_d}</kd>
      <!-- <selfCollide>false</selfCollide> -->
      <maxContacts>1</maxContacts>
      <!-- <laserRetro>0</laserRetro> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- Joints (SDF) ######################################################### -->

  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_joint_sdf_physics" >

    <gazebo reference="${linear_elevator_joint_name}_joint" >

      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- <cfmDamping>true</cfmDamping> -->
      <implicitSpringDamper>true</implicitSpringDamper>
      <!-- <fudgeFactor>0.0</fudgeFactor> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_pitch_joint_sdf_physics" >

    <gazebo reference="${linear_head_pitch_joint_name}_joint" >

      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- <cfmDamping>true</cfmDamping> -->
      <implicitSpringDamper>true</implicitSpringDamper>
      <!-- <fudgeFactor>0.0</fudgeFactor> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_yaw_joint_sdf_physics" >

    <gazebo reference="${linear_head_yaw_joint_name}_joint" >

      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- <cfmDamping>true</cfmDamping> -->
      <implicitSpringDamper>true</implicitSpringDamper>
      <!-- <fudgeFactor>0.0</fudgeFactor> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_joint_sdf_physics"
               params="prefix_y" >

    <gazebo reference="${prefix_y}_${side_joint_name}_joint" >

      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- <cfmDamping>true</cfmDamping> -->
      <implicitSpringDamper>true</implicitSpringDamper>
      <!-- <fudgeFactor>0.0</fudgeFactor> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_joint_sdf_physics"
               params="prefix_y prefix_x" >

    <gazebo reference="${prefix_y}_${prefix_x}_${wheel_joint_name}_joint" >

      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- <cfmDamping>false</cfmDamping> -->
      <!-- <implicitSpringDamper>false</implicitSpringDamper> -->
      <!-- <fudgeFactor>0.0</fudgeFactor> -->

    </gazebo>

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- Joints (URDF) ######################################################## -->

  <!-- ==================================================================== -->
  <xacro:macro name="linear_elevator_joint_urdf_physics" >

    <axis xyz="0 0 1" />

    <!-- <calibration rising="0.0"
                      falling="0.0" /> -->

    <!-- <dynamics damping="0.0"
                   friction="0.0" /> --> 

    <limit lower="${linear_elevator_joint_min_limit}"
           upper="${linear_elevator_joint_max_limit}"
           effort="100.0"
           velocity="100.0" />

    <!-- <safety_controller soft_lower_limit="0.0"
                            soft_upper_limit="0.0"
                            k_position="0.0"
                            k_velocity="0.0" /> -->

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_pitch_joint_urdf_physics" >

    <axis xyz="0 1 0" />

    <!-- <calibration rising="0.0"
                      falling="0.0" /> -->

    <!-- <dynamics damping="0.0"
                   friction="0.0" /> --> 

    <limit lower="${linear_head_pitch_joint_min_limit}"
           upper="${linear_head_pitch_joint_max_limit}"
           effort="50.0"
           velocity="50.0" />

    <!-- <safety_controller soft_lower_limit="0.0"
                            soft_upper_limit="0.0"
                            k_position="0.0"
                            k_velocity="0.0" /> -->

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="linear_head_yaw_joint_urdf_physics" >

    <axis xyz="0 0 1" />

    <!-- <calibration rising="0.0"
                      falling="0.0" /> -->

    <!-- <dynamics damping="0.0"
                   friction="0.0" /> --> 

    <limit lower="${linear_head_yaw_joint_min_limit}"
           upper="${linear_head_yaw_joint_max_limit}"
           effort="50.0"
           velocity="50.0" />

    <!-- <safety_controller soft_lower_limit="0.0"
                            soft_upper_limit="0.0"
                            k_position="0.0"
                            k_velocity="0.0" /> -->

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="side_joint_urdf_physics" >

    <axis xyz="0 1 0" />

    <!-- <calibration rising="0.0"
                      falling="0.0" /> -->

    <dynamics damping="${side_joint_damping}" />
         <!-- friction="0.0" /> --> 

    <limit lower="${side_joint_min_limit}"
           upper="${side_joint_max_limit}"
           effort="150.0"
           velocity="150.0" />

    <!-- <safety_controller soft_lower_limit="0.0"
                            soft_upper_limit="0.0"
                            k_position="0.0"
                            k_velocity="0.0" /> -->

  </xacro:macro>
  <!-- ==================================================================== -->
  <xacro:macro name="wheel_joint_urdf_physics" >

    <axis xyz="0 1 0" />

    <!-- <calibration rising="0.0"
                      falling="0.0" /> -->

    <!-- <dynamics damping="0.0"
                   friction="0.0" /> --> 

    <limit effort="100.0"
           velocity="100.0" />
      <!-- lower="-0.0" -->
      <!-- upper="0.0" -->

    <!-- <safety_controller soft_lower_limit="0.0"
                            soft_upper_limit="0.0"
                            k_position="0.0"
                            k_velocity="0.0" /> -->

  </xacro:macro>
  <!-- ==================================================================== -->

<!-- ###################################################################### -->

</robot>
