<launch>
 <!-- Launch controller manager with pandora hardware interface -->
  <include file="$(find pandora_imu_hardware_interface)/imu_hardware_interface/launch/imu_hardware_interface.launch"/>

  <!-- spawn controllers -->
  <include
    file="$(find pandora_imu_hardware_interface)/imu_controllers/launch/imu_controllers.launch" />
</launch>
