<launch>
  <!-- Set device parameter -->
  <arg name="device" />
  <param name="imu/device" value="$(arg device)" />

  <!-- Launch pandora imu hardware interface -->
  <node
    name="imu_hardware_interface_node"
    pkg="pandora_imu_hardware_interface"
    type="imu_hardware_interface_node"
    output="screen"
    ns = "/imu" />
</launch>
