<launch>
 <arg name="device" default="imu" />
 <!-- Launch controller manager with pandora hardware interface -->
  <include
    file="$(find pandora_imu_hardware_interface)/imu_hardware_interface/launch/imu_hardware_interface.launch">

    <arg name="device" value="$(arg device)" />
  </include>

  <!-- spawn controllers -->
  <include
    file="$(find pandora_imu_hardware_interface)/imu_controllers/launch/imu_controllers.launch" />
</launch>
