<launch>
  <!-- Launch device scanner shell script to detect imu devices and set the device param accordingly -->
  <node name="imu_device_scanner" pkg="pandora_imu_hardware_interface" type="imu_device_scanner.sh" output="screen"/>

  <!-- Launch pandora imu hardware interface -->
  <node
    name="imu_hardware_interface_node"
    pkg="pandora_imu_hardware_interface"
    type="imu_hardware_interface_node"
    output="screen"
    ns = "/imu" />
</launch>
